
<div class="span5">
	<h4>
		<i class="icon-group"></i> {{role}}s
	</h4>
	<ul>
		{{#each users}}
		<li class="breadcrumb  {{status}}">  <img class="gravatar-small" src="{{gravatar}}"/>
		{{username}} </li> {{/each}}
	</ul>
</div>

<div class="span6">
	<label class="locale_Modify_Username_TODO ">Username:</label> <input type="text"
		class="  choose-add-permission-username" data-provide="typeahead"
		data-items="4" data-source='{{typeaheadusers}}'>
	<button class="btn btn-primary  add-user-to-permission-role"
		value="Add">Add</button>
	<!-- <button class="btn btn-primary  delete-user-permission-role"
		value="Add">Delete</button> -->
</div>

