
<span class="dropdown " id="menu{{filename}}"> 
	<a class="show-image-details dropdown-toggle" data-toggle="dropdown" href="#menu{{filename}}"> 
		<img src="{{URL}}" class="datum-image"/>
	</a>
	<!-- <b class="image-caption ">{{caption}}</b> -->
	<textarea class="edit-caption-input" title="This can be a caption for your image in a language learning lession, or to tell others what they should focus on in this image" placeholder="This can be a caption for your image in a language learning lession, or to tell others what they should focus on in this image">{{caption}}</textarea>
	<ul class="dropdown-menu">
		<li>{{filename}}</li>
		<li>
		</li>
		<li class="remove-image">
			<button  class="btn-tiny btn-danger">
				<i class="icon-trash"></i>
				<span class = "">{{locale_Remove_image}}</span>
			</button>
		</li>
	</ul>
</span> 
