<div class="pull-right">
  <a href="#" rel="tooltip" title="Edit data list">
    <i class="icons icon-edit"></i></a>
  <a href="#" class = "locale_Show_fullscreen" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>

<h3>{{title}}<small> {{datumCount}}</small></h3>
<h4>{{dateCreated}}</h4>

{{description}}

<div class="icons">
    <a  href="#playDatum" class = "locale_Play_Audio_checked" rel="tooltip" >
       <i class="icons icon-bullhorn"></i></a>
    <a  href="#clipboard" class = "locale_Copy_checked" rel="tooltip" >
       <i class="icons icon-paste"></i></a>
    <a  id="encrypt" href="#" class= "locale_Encrypt_checked" rel="tooltip">
      <i class="icons icon-lock"></i></a> 
    <a href="#" class = "locale_Decrypt_checked" rel="tooltip">
      <i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i>
    </a>
     <a href="#" class = "locale_Export_Datalist" rel="tooltip">
      <button class="btn btn-primary" id="LaTeX">LaTeX</button></a>
          <a href="#" rel="tooltip" title="Export checked items to CSV format">
      <button class="btn btn-primary" >CSV</button>
</div>

<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-datalist-read" value="Add"><span class = "locale_Add"></span></button>



