

 <div class="dataList">

    <label>Title:</label>
	<textarea>{{title}}</textarea> <br>
	
	<label>Date:</label>
	<textarea>{{dateCreated}}</textarea> <br>
	
	<label>Description:</label>
	<textarea>{{description}}</textarea> <br> 

<!--   <span class="title">{{title}}</span><br/> 
    <span class="dateCreated">{{dateCreated}}</span><br/> 
    <span class="description">{{description}}</span> 

-->


     {{> datum_menu}}
</div>  



