<div class="pull-right">
  <button class="btn btn-success save-datalist" value="Save">Save</button>
  <i class="icons icon-minus-sign"></i>
  <i class="icons icon-book"></i>
  <i class="icons icon-resize-full"></i>
</div>
<label>Title:</label>
<small> {{datumCount}}</small>
<textarea placeholder="Title" class="data-list-title">{{title}}</textarea>
<label>Description</label>
<textarea class="data-list-description" placeholder="You can use datalists to create handouts or to prepare for sessions with consultants, or to share with collaborators.">{{description}}</textarea>

<div class="icons">
  <a href="#playDatum"><i class="icons icon-bullhorn"></i></a> 
  <a href="#clipboard"><i class="icons icon-paste"></i></a> 
  <a id="encrypt"><i class="icons {{#if confidential}}icon-lock{{else}}icon-unlock{{/if}}"></i></a>  <a ><i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i></a>


  <button class="btn btn-primary latex-export-datalist" id="LaTeX">LaTeX</button>
	<button class="btn btn-primary CSV">CSV/Excel</button>
</div>

<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <span> new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  </div>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-datalist-edit" value="Add">Add
    Comment</button>

