<div class="pull-right">
  <a href="#" rel="tooltip" class="locale_Edit_Datalist">
    <i class="icons icon-edit"></i></a>
  <a href="#" class= "locale_Show_in_Dashboard" rel="tooltip" >
    <i class="icons icon-resize-small"></i></a> 
</div>

<h3>{{title}}
<small> {{datumCount}}</small></h3>
<h4>{{dateCreated}}</h4>

{{description}}

<!--DataList Menu  -->
<div class="icons">
  <a  href="#" class = "locale_Play_Audio_checked" rel="tooltip" >
     <i class="icons icon-bullhorn"></i></a>
  <a  href="#" class = "locale_Copy_checked" rel="tooltip" >
     <i class="icons icon-paste"></i></a>
  <a href="#" class= "locale_Decrypt_checked" rel="tooltip">
    <i class="icons icon-unlock"></i></a> 
  <a href="#" class= "locale_Encrypt_checked" rel="tooltip">
    <i class="icons icon-lock"></i></a>
  <a href="#" class = "locale_Show_confidential_items_Tooltip" rel="tooltip">
    <i class="icons {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i></a>
  <a href="#" class = "locale_Export_checked_as_LaTeX" rel="tooltip">
    <button class="btn btn-primary latex-export-datalist LaTeX">LaTeX</button></a>
  <a href="#" class = "locale_Export_checked_as_CSV" rel="tooltip">
    <button class="btn btn-primary CSV" >CSV</button></a>
</div>

<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <i class="icons icon-comment"></i>
  <textarea class="comment-new-text"></textarea>
</div>
  
<button class="btn btn-primary add-comment-datalist-read" value="Add">
  <span class = "locale_Add"></span>
  <i class="icons icon-comment"></i>
</button>



