<div class="user">
  <ul class = "dropdown">
    <li><a class = "btn btn-mini btn-inverse" id ="pref"> <img class="grav" src="{{gravatar}}"/>
       <span class ="caret white"></span></a>     
       <ul> 
         <li><a href=  "#user/{{username}}/prefs">User Preferences</a></li>
         <li><a href = "#user/{{username}}">User Profile</a></li>
         <li><a href = "#user/{{username}}/datumprefs">Datum Preferences</a></li>
       </ul>     
       <div class="username">{{username}}</div>
</div>

