<div class="modal-header">
   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
      <i class="icons icon-book pull-right"></i></a>
<h1 class = "locale_User_Profile"></h1>

</div>
<div class="modal-body">
  <p>
    <dl>
      <dt><span class = "locale_Gravatar"></span></dt>
      <dd>
        <img class="gravatar-image gravatar-large" src="{{gravatar}}"/>
      </dd> 
      <dt><span class = "locale_Gravatar_URL"></span></dt>
      <dd>
        <input class="gravatar" type="email" value="{{gravatar}}"/>
      </dd>
      <dt><span class = "locale_Firstname"></span></dt>
      <dd>
        <input class="firstname"  value="{{firstname}}"/>
      </dd>
      <dt><span class = "locale_Lastname"></span>
     </dt>
      <dd>
        <input class="lastname"  value="{{lastname}}"/>
      </dd>
      <dt><span class = "locale_Email"></span>
     </dt>
      <dd>
        <input class="email" type="email" value="{{email}}"/>
      </dd>
      <dt><span class = "locale_Research_Interests"></span>
      </dt>
      <dd>
        <textarea class="researchInterest">{{researchInterest}}</textarea>
      </dd>
      <dt><span class = "locale_Affiliation"></span>
      </dt>
      <dd>
        <textarea class="affiliation">{{affiliation}}</textarea>
      </dd>
      <dt><span class = "locale_Description"></span>
      </dt>
      <dd>
        <textarea class="description">{{description}}</textarea>
      </dd>
      <dt><span class = "locale_Corpora"></span>
      </dt>
      <dd>
        <ul class="corpora"></ul>
      </dd>
    </dl>
  </p>
</div>
<div class="modal-footer">
 <button class="btn btn-success pull-right save-user-profile" value="Save"><span class = "locale_Save"></span>
 </button>
</div>

