<div class="modal-header">
<i class="icons icon-edit pull-right"></i>
  <h1>User Profile <small>{{firstname}} {{lastname}}</small></h1>
</div>
<div class="modal-body">
    <dl>
      <dt>Gravatar</dt>
      <dd>
        <img class="gravatar-image gravatar-large" src="{{gravatar}}"/>
      </dd> 
      <dt>Email</dt>
      <dd>
        <span class="email">{{email}}</span>
      </dd>
      <dt>Research Interest</dt>
      <dd>
        <span class="researchInterest">{{researchInterest}}</span>
      </dd>
      <dt>Affiliation</dt>
      <dd>
        <span class="affiliation">{{affiliation}}</span>
      </dd>
      <dt>Description</dt>
      <dd>
        <span class="description">{{description}}</span>
      </dd>
      <dt>Corpora</dt>
      <dd>
        <ul class="corpora"></ul>

      </dd>
    </dl>

</div>
 <div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>