<div class="user">
  <ul class = "dropdown">
    <li><a class = "btn btn-mini btn-inverse" id ="pref"> <img class="grav" src="{{gravatar}}"/>
       <span class ="caret white"></span></a>     
       <ul> 
         <li><a href=  "#user/{{username}}"><i class="icon-user"></i> User Profile </a></li>
         <li><a href = "#user/{{username}}/prefs"><i class="icon-cog"></i> User Settings </a></li>
         <li><a href = "#user/{{username}}/datumprefs"><i class="icon-cogs"></i> Datum Settings </a></li>
         <li><a href = "#user/{{username}}/datumprefs"><i class="icon-hdd"></i> Keyboard Shortcuts </a></li>
       </ul>     
       <div class="username">{{username}}</div>
</div>



