extends index

block content
  .container-fluid
    .row-fluid
      .span3
        p.text-center
          a(href="/#{corpusMask.team.username}") 
            img.img-polaroid(src='https://secure.gravatar.com/avatar/#{corpusMask.team.gravatar}.jpg?s=200&d=identicon&r=pg', alt='Your gravatar.com profile image')
        div(style='margin: 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd')
          if corpusMask.team.username
            h1= corpusMask.team.name
            p= corpusMask.team.username
          else
            h2.text-center Sorry! User does not exist.
        .well.well-small
          dl
            dt
              i(style='margin-top:3px').icon-folder-open
              | &nbsp;&nbsp;Interests:
            dd
              | #{corpusMask.team.researchInterest}
            dt
              i(style='margin-top:3px').icon-user
              | &nbsp;&nbsp;Affiliation:
            dd
              | #{corpusMask.team.affiliation}
            dt
              i(style='margin-top:3px').icon-comment
              | &nbsp;&nbsp;Description:
            dd
              | #{corpusMask.team.description}
      .span9
        .row-fluid
          .span7.offset1
            h1.media-heading #{corpusMask.title}
            .media(style='margin-bottom:40px')
              a(href="https://corpusdev.lingsync.org/public-firstcorpus/_design/pages/corpus.html").pull-right
                img(src='https://secure.gravatar.com/avatar/#{corpusMask.team.gravatar}.jpg?s=96&d=retro&r=pg', alt='Corpus image').media-object
              .media-body
                div= corpusMask.description
          .span4
        .row-fluid
          .span12
            <iframe src="/corpus-pages/libs/activities_visualization/index.html?#{corpusMask.dbname}" width="100%" height="200" frameborder="0" allowtransparency="true"></iframe>
        .row-fluid
          .span11.offset1
            form.form-inline#searchCorpus(action='http://localhost:3185/search/#{corpusMask.dbname}', method='POST', enctype='application/json', style='display:inline-block')
              input(type='text', id='queryString', name='queryString', placeholder='Enter search terms…')
              | &nbsp;&nbsp;
              button.btn.btn-small.btn-success(type='submit', id='corpus_search')
                i.icon-search.icon-white(style='margin-top:2px')
                | &nbsp;Search…
            | &nbsp;&nbsp;
            button.btn.btn-small.btn-info(type='button', id='corpus_build', onclick='reindex(\'#{corpusMask.dbname}\')')
              i.icon-refresh.icon-white(style='margin-top:2px')
              | &nbsp;Rebuild search lexicon
            | &nbsp;&nbsp;
            #progressBar.hide(style='width:180px; height:23px; border: 1px solid gray; background-color: #E9E9E9')
              #innerProgressBar(style='font-size: .7em; height:100%; color: white; text-align: right; line-height: 23px; width: 0px; background-color: #99356B') &nbsp;
            p.hide#clearresults
              button.btn.btn-mini.btn-danger(type='button', id='clear_results', onclick='clearresults()')
                i.icon-remove.icon-white(style='margin-top:2px')
                | &nbsp;Clear…
        .row-fluid
          .span11
            .well.well-small.hide#dataresult
    hr
    footer
      - var year = (new Date()).getFullYear()
      p © #{corpusMask.copyright} #{corpusMask.startYear} #{year} 
        
      .tabbable
        ul.nav.nav-tabs
          li.active
            a(href="#terms", data-toggle="tab") Terms of Use for #{corpusMask.dbname}
          li
            a(href="#emeldtermsreccomendations", data-toggle="tab") Why have a Terms of Use?
        .tab-content
          .tab-pane.active#terms
            p #{corpusMask.termsOfUse.humanReadable}
            span License: 
            a(href="#{corpusMask.license.link}", rel="license", title="#{corpusMask.license.title}") #{corpusMask.license.title}
            p #{corpusMask.license.humanReadable}
            img(src="//i.creativecommons.org/l/by-sa/3.0/88x31.png", alt="License")
          .tab-pane#emeldtermsreccomendations
            ul
              li
                dl EMELD digital language documentation Best Practices #7:
                  dt Rights
                  dd Resource creators, researchers and the speech communities who provide the primary data have different priorities over who has access to language resources.
                  dt Solution
                  dd Terms of use should be well documented, and enforced if necessary with encryption or licensing. It is important however to limit the duration of <a target="_blank" href="http://emeld.org/school/classroom/ethics/access.html">access restrictions</a>: A resource whose access is permanently restricted to one user is of no long-term value since it cannot be used once that user is gone.
