extends index

block content
  .container
    .row
      .span3
        p.text-center
          img.img-polaroid(src='https://secure.gravatar.com/avatar/#{ghash}.jpg?s=200&d=retro&r=pg', alt='Your gravatar.com profile image')
        div(style='margin: 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd')
          if json.username
            h1= json.firstname
            p= json.username
          else
            h2.text-center Sorry! User does not exist.
        .well.well-small
          dl
            dt
              i(style='margin-top:3px').icon-envelope
              | &nbsp;&nbsp;Email:
            dd
              a(href="mailto:#{json.email}") #{json.email}
            dt
              i(style='margin-top:3px').icon-folder-open
              | &nbsp;&nbsp;Interests:
            dd
              | #{json.researchInterest}
            dt
              i(style='margin-top:3px').icon-user
              | &nbsp;&nbsp;Affiliation:
            dd
              | #{json.affiliation}
            dt
              i(style='margin-top:3px').icon-comment
              | &nbsp;&nbsp;Description:
            dd
              | #{json.description}
          //-a.btn.btn-primary.btn-block(href="https://localhost:3182/jdhorner/jdhorner_s_corpus") Big button »
      .span6.offset1
        h1 Corpora
        br
        +renderCorporaList(json)
        //-
          if json.corpuses
            h2 Here's your list.
            p
              +showJson(json.corpuses)
          else
            h2 We need more chocolate.
    hr
    footer
      p © Company 2013
