<!-- Corpus icons - Different for all Corpus Handlebars -->
<div class="pull-right">
	<a href="#"   title="{{locale_Edit_corpus}}" rel="tooltip"> <i
		class="icons icon-edit"></i></a> <a href="#"
		  title="{{locale_Show_in_Dashboard}}" rel="tooltip"> <i
		class="icons icon-resize-small"></i></a>
</div>
<div class="btn-toolbar ">
	<!-- Corpus Menu - Identical for all Corpus Handlebars -->
	<div class="btn-toolbar">
		<div class="btn-group">
			<button class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown">
				<span>{{locale_New_menu}}</span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li class="new-datum"><a href="#"  >{{locale_New_Datum}}</a></li>
				<li class="new-data-list"><a href="#"
					 >{{locale_New_Data_List}}</a></li>
				<li class="new-session"><a href="#"  >{{locale_New_Session}}</a></li>
				<li class="new-corpus"><a href="#"  >{{locale_New_Corpus}}</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
				<span>{{locale_Data_menu}}</span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#import"  >{{locale_Import_Data}}</a></li>
				<li><a href="{{exportAllDatumURL}}" target="_blank">{{locale_Export_Data}}</a></li>
				<li><a href="{{exportWordListURL}}" target="_blank">Word List</a></li>
				<li><a href="#corpus/{{pouchname}}/alldata">{{locale_All_Data}}</a></li>
			</ul>
		</div>
		<!-- /Corpus Menu - Identical for all Corpus Handlebars -->
	</div>
</div>

<h2>
	<i class="icon-cloud"></i> {{title}} <small>{{publicCorpus}}</small>
</h2>
<a href="http://lingsync.org/{{username}}/{{titleAsUrl}}"
	target="_blank"><i class=" icon-link"></i></a>
<small>Shareable URL:
	http://lingsync.org/{{username}}/{{titleAsUrl}}</small>
<div class="description corpus-description-wiki">{{description}}</div>


<label><span>{{locale_Terms_of_use}}</span>
<a class="explain_terms_of_use" data-html="true" rel="popover" data-placement="right" data-content="{{{locale_Terms_explanation}}}"  title="Why have a Terms of Use for your corpus" tabindex="-1">
  <i class="icon-question-sign"></i>
</a></label>
<div class="terms corpus-terms-wiki-preview">{{termsOfUse.humanReadable}}</div>

<label><span>{{locale_License}}</span>
<a class="explain_license" data-html="true" rel="popover"  data-placement="right" data-content="{{{locale_License_explanation}}}" title="Why have a License for your corpus" tabindex="-1">
  <i class="icon-question-sign"></i>
</a></label>
<div class="license"><a href="{{license.link}}" target="_blank">{{license.title}}</a></div>
<div class="license corpus-license-humanreadable-wiki-preview">{{license.humanReadable}}</div>

<label><span>{{locale_Copyright}}</span></label>
<div class="copyright">{{copyright}}</div>



<!-- Force directed graph of morphemes in the corpus -->
<div class="corpus-precedence-rules-visualization"></div>

<div class="accordion" id="accordion-read-embedded">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-edit-embedded"
				href="#collapseGlosserSettingsEE"> <i class="icon-bar-chart"></i>
				<strong class="locale_Glosser_settings">Semi-automatic
					glossing and morpheme segmentation</strong>
			</a>
		</div>
		<div class="accordion-body collapse" id="collapseGlosserSettingsEE">
			<div class="accordion-inner">
				<span class="locale_glosser_explanation">You can use a
          glosser from any LingSync corpus, you need to have permission
          (ask them to add you as a reader on their corpus). For example, if
          you and your collaborators are working on Mi'gmaq, you might have a
          master corpus with the most data that you all can use to gloss your
          corpus. For an example url, see LingLlama's sample Quechua corpus:
          https://corpusdev.lingsync.org/lingllama-firstcorpus/_design/pages/_view/precedence_rules?group=true</span>
        <br /> <span>You can also create your own glosser web
          service or use an existing glosser/morpheme segmenter you have
          access too as long as it is available on a URL and uses a similar data schema. <a
          href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform"
          target="_new">Contact us</a> if you would like more details.
        </span>
        <label>Glosser URL:</label>
				<p class="glosserURL"><strong>{{glosserURL}}</strong></p>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded" href="#collapseSessionsRE">
				<i class="icon-calendar"></i> <strong
				 >{{locale_Sessions_associated}}</strong>
			</a>
		</div>
		<div id="collapseSessionsRE" class="accordion-body collapse">
			<div class="accordion-inner">
				<span>{{{locale_elicitation_sessions_explanation}}}</span>
				<ul class="sessions-updating-collection unstyled">
					<!-- Updating Sessions Collection -->
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded" href="#collapseDatalistsRE">
				<i class="icon-pushpin"></i> <strong
				 >{{locale_Datalists_associated}}</strong>
			</a>
		</div>
		<div id="collapseDatalistsRE" class="accordion-body collapse">
			<div class="accordion-inner">
				<span>{{{locale_datalists_explanation}}}</span>
				<ul class="datalists-updating-collection unstyled">
					<!-- Updating DataLists Collection -->
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded" href="#collapsePermissionsRE">
				<i class="icon-group"></i> <strong
				 >{{locale_Permissions_associated}}</strong>
			</a>
		</div>
		<div id="collapsePermissionsRE" class="accordion-body collapse">
			<div class="accordion-inner ">
				<span>{{{locale_permissions_explanation}}}</span>
				<p>
					<button class="btn btn-inverse reload-corpus-team-permissions">
						<i class="icon-refresh"></i> See current team members
					</button>
				</p>
				<ul class="permissions-updating-collection unstyled">
					<!-- Updating Permissions Collection -->
				</ul>
			</div>
		</div>
	</div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-read-embedded"
        href="#collapseSessionFieldSettingsRE"> <i class="icon-calendar"></i>
        <strong>{{locale_Session_field_settings}}</strong>
      </a>
    </div>
    <div id="collapseSessionFieldSettingsRE" class="accordion-body collapse">
      <div class="accordion-inner">
        <span>{{{locale_session_fields_explanation}}}</span>
        <ul class="session_field_settings unstyled"></ul>
      </div>
    </div>
  </div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded"
				href="#collapseDatumFieldSettingsRE"> <i class="icon-list"></i>
				<strong>{{locale_Datum_field_settings}}</strong>
			</a>
		</div>
		<div id="collapseDatumFieldSettingsRE" class="accordion-body collapse">
			<div class="accordion-inner">
				<span>{{{locale_datum_fields_explanation}}}</span>
				<ul class="datum_field_settings unstyled"></ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded"
				href="#collapseDatumStateSettingsRE"> <i class="icon-flag"></i>
				<strong>{{locale_Datum_state_settings}}</strong>
			</a>
		</div>
		<div id="collapseDatumStateSettingsRE" class="accordion-body collapse">
			<div class="accordion-inner">
				<span>{{{locale_datum_states_explanation}}}</span>
				<ul class="datum_state_settings unstyled"></ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-read-embedded"
				href="#collapseLessonsSettingsRE"> <i class="icon-gift"></i> <strong
				 >New! Add Language Lessons components to this
					corpus</strong>
			</a>
		</div>
		<div id="collapseLessonsSettingsRE" class="accordion-body collapse">
			<div class="accordion-inner">
				<a
					href="https://play.google.com/store/apps/details?id=com.github.opensourcefieldlinguistics.android.lessons&hl=en"
					target="_blank">Install prototype</a>

			</div>
		</div>
	</div>
</div>

<!-- Corpus comments -->
<ul class="comments unstyled"></ul>
<div class="new-comment-area "></div>
