<!-- Corpus icons - Different for all Corpus Handlebars -->
<div class="pull-right">
  <a href="#" title= "{{locale_Show_Readonly}}" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#" title = "{{locale_Show_corpus_settings}}" rel="tooltip">
    <i class="icons icon-cogs resize-full"></i></a>
</div>
<div class="btn-toolbar ">
  <!-- Corpus Menu - Identical for all Corpus Handlebars -->
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span>{{locale_New_menu}}</span>  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="new-datum"><a href="#"  >{{locale_New_Datum}}</a></li>
        <li class="new-data-list"><a href="#"  >{{locale_New_Data_List}}</a></li>
        <li class="new-session"><a href="#"  >{{locale_New_Session}}</a></li>
        <li class="new-corpus"><a href="#"  >{{locale_New_Corpus}}</a></li><!--if put corpus modal on user page user.html#corpus/new -->
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span>{{locale_Data_menu}}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#import"  >{{locale_Import_Data}}</a></li>
        <li><a href="{{exportAllDatumURL}}" target="_blank">{{locale_Export_Data}}</a></li>
        <li><a href="{{exportWordListURL}}" target="_blank">Word List</a></li>
        <li><a href="#corpus/{{dbname}}/alldata">{{locale_All_Data}}</a></li>

      </ul>
    </div>
    <!-- /Corpus Menu - Identical for all Corpus Handlebars -->
  </div>
</div>

<div class="corpus-description">
	<label>{{locale_Title}}</label> <i class="icon-cloud"></i>
	<!-- <a href = "http://lingsync.org/{{username}}/{{titleAsUrl}}" target = "_blank"><small><i class=" icon-link"></i></small></a> -->
	<textarea class="corpus-title-input save-corpus-blur">{{title}}</textarea>
	<label>{{locale_Description}}</label>
	<textarea class="corpus-description-input save-corpus-blur">{{description}}</textarea>
	<input type="text" value="{{publicCorpus}}" class=" public-or-private"
		data-provide="typeahead" data-items="4"
		data-source="[&quot;Public&quot;,&quot;Private&quot;]" />
</div>






