<a href="#"   title="{{locale_Show_Readonly}}" rel="tooltip">
   <i class="icons icon-book pull-right"> </i>
  </a>
<button class="btn btn-success pull-right save-user-profile"
    value="Save">{{locale_Save}}</button>

<h1>
	<span>{{locale_User_Profile}}</span> <small>{{username}} 	({{firstname}} {{lastname}}) </small>
</h1>
<a href = "http://lingsync.org/{{username}}" target="_blank"><i class=" icon-link"></i></a>
<small>Shareable URL: http://lingsync.org/{{username}}</small>
<p>{{locale_Public_Profile_Instructions}}</p>
<hr/>
<dl>
    <dt>{{locale_Gravatar}}</dt>
    <dd>
      <img class="gravatar-image" src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon" />
    </dd>
    <!--<dt class="locale_Gravatar_URL"></dt>
    <dd>
      <input class="gravatar" type="email" value="{{gravatar}}" />
    </dd> -->
    <dt>{{locale_Firstname}}</dt>
    <dd>
      <input class="firstname" value="{{firstname}}" />
    </dd>
    <dt>{{locale_Lastname}}</dt>
    <dd>
      <input class="lastname" value="{{lastname}}" />
    </dd>
    <dt>{{locale_Email}}</dt>
    <dd>
      <input class="email" type="email" value="{{email}}" />
    </dd>
    <dt>{{locale_Research_Interests}}</dt>
    <dd>
      <textarea class="researchInterest">{{researchInterest}}
      </textarea>
    </dd>
    <dt>{{locale_Affiliation}}</dt>
    <dd>
      <textarea class="affiliation">{{affiliation}}
      </textarea>
    </dd>
    <dt>{{locale_Description}}</dt>
    <dd>
      <textarea class="description">{{description}}
      </textarea>
    </dd>
    <dt><i class="icon-cloud"></i> <span>{{locale_Corpora}}</span></dt>
    <dd>
      <ul class="corpora unstyled">
      </ul>
    </dd>
  </dl>
