<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container ">



      <!-- Home button -->
      <a tabindex="-1" href="#" class="brand" title="{{locale_Show_Dashboard}}"
        rel="tooltip"> <i class="icons icon-home icon-white"></i></a>

      <!-- Top Search Area -->
      <span class="navbar-search" id="search-top"> </span>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse"
        data-target=".nav-collapse"> <span class="icon-bar"></span> <span
        class="icon-bar"></span> <span class="icon-bar"></span>
      </a>


      <!-- Collapsing area if the screen is not wide enough -->
      <div class="nav-collapse collapse">
        <ul class="nav" role="navigation ">



          <!--  Customize dropdown -->
          <li class="dropdown"><a id="customize_dropdown_trigger"
            href="#" role="button" class="dropdown-toggle"
            data-toggle="dropdown"><i class="icon-info-sign icon-white"></i>
              Information <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu"
              aria-labelledby="customize_dropdown_trigger">



              <li class="power-users-link"><a tabindex="-1"
                data-toggle="modal" href="#terminal-modal"><i
                  class=" icon-magic"></i> <span
                   >{{locale_Terminal_Power_Users}}</span> </a></li>
              <li><a tabindex="-1" href="http://lingsync.org"
                target="_blank"><i class="icons icon-film"></i> Help Videos and
                  User Guide</a></li>
              <li><a tabindex="-1"
                href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform"
                target="_blank"><i class="icons icon-beaker"></i> Bug
                  Report/Contact Us</a></li>
              <li><a tabindex="-1"
                href="https://github.com/OpenSourceFieldlinguistics/FieldDB/milestones?state=closed"
                target="_blank"><i class="icons icon-github"></i> OpenSource v<span
                  class="fielddb-version"></span></a></li>

              <!-- <li class="divider"></li>
              <li><a tabindex="-1" href="#"><i class="icon-trash"></i>
                  Clear all customization</a></li> -->


            </ul></li>


          <!-- Notification -->
          <li class="dropdown hide"><a id="notification_dropdown_trigger"
            href="#" role="button" class="dropdown-toggle"
            data-toggle="dropdown"><i
              class="icon-exclamation-sign icon-white"></i> Notifications <b
              class="caret"></b></a>
            <ul class="dropdown-menu" role="menu"
              aria-labelledby="notification_dropdown_trigger">




              <!-- <li><span class="locale_Need_save"></span><a tabindex="-1"
                href="#" class="locale_Save_on_this_Computer " rel="tooltip">
                  <i class="icons icon-save save-dashboard icon-white"></i>
              </a></li>
              <li><progress class="unsaved-changes" max="100" value="30">
                </progress></li> -->

              <li class="not-a locale_Recent_Changes"></li>


              <li class="divider"></li>

              <!-- <li><span class="locale_Need_sync"></span><a tabindex="-1"
                href="#" class="locale_Sync_and_Share " rel="tooltip"> <i
                  class="icons icon-sitemap  sync-everything icon-white"></i>
              </a></li>
              <li><progress class="unsynced-changes" max="100" value="80">
                </progress></li> -->

              <li class="not-a locale_Differences_with_the_central_server"></li>


              <li class="divider"></li>
              <li><a tabindex="-1" href="#"><i class="icon-remove"></i>
                  Clear all notifications</a></li>

              <li><div id="toast-user-area" class="scrollable">
                  <div class="alert alert-info alert-block">
                    <a class="close" data-dismiss="alert" href="#">×</a> <strong
                      class="alert-heading ">Quick Start Instructions:</strong> <span
                       >{{locale_Instructions_to_show_on_dashboard}}</span> <span
                       >{{{locale_to_beta_testers}}}</span>
                  </div>
                </div></li>

            </ul></li>


        </ul>
        <ul class="nav pull-right">

          <!--  User dropdown -->
          <li id="auth-menu" class="dropdown"><a href="#"
            id="user_drop_down_trigger" role="button"
            class=" dropdown-toggle pull-left" title="{{locale_View_Public_Profile_Tooltip}}"
            data-toggle="dropdown" rel="tooltip"> <span
              id="user-quickview"> <i class="icons icon-user icon-white"></i>
            </span> <b class="caret"></b>
          </a>
            <ul class="dropdown-menu" id="authentication-embedded" role="menu"
              aria-labelledby="user_drop_down_trigger"></ul></li>


        </ul>

      </div>

    </div>
  </div>
</div>




<!-- The rest of the page -->
<div class="container-fluid main">

  <!-- FullScreen Views -->
  <div id="user-fullscreen" class="well "></div>
</div>

<!-- Modals are windows which pop over the active app to take focus -->
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-preferences-modal" class="modal hide"></div>
<div id="quick-authenticate-modal"  class="modal hide">
  <div class="modal-header">
    <h4><span class="reason_why_we_need_to_make_sure_its_you"></span> <span>{{locale_We_need_to_make_sure_its_you}}</span></h4>
  </div>
  <div class="modal-body">
  <label>{{locale_Password}}</label>
      <input type="password" id="quick-authenticate-password"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-success" id="quick-authentication-okay-btn">{{locale_Yep_its_me}}</button>
  </div>
</div>
<div id="login_modal" class="modal hide">
  <div class="modal-header">
    <h3>{{locale_Log_In}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error hide welcome-screen-alerts"></div>
    <label>{{locale_Username}}</label> <input size="16" type="text"
      class="welcomeusername" value="" /> <label>{{locale_Password}}</label>
    <input type="password" size="16" class="welcomepassword" value="" />
    <label class="locale_authUrl">Server</label> <input type="text"
      size="16" class="welcomeauthurl" data-provide="typeahead"
      data-items="4"
      data-source='[&quot;LingSync.org&quot;,&quot;LingSync Beta&quot;,&quot;McGill ProsodyLab&quot;,&quot;Localhost&quot;]' />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success sync-my-data"> <span
       >{{locale_Log_In}}</span>
    </a>
  </div>
</div>
