<div class="modal-header">
	<button class="btn pull-right" data-dismiss="modal">{{locale_Close}}</button>
	<h1>{{locale_User_Settings}}</h1>
</div>
<div class="modal-body">
	<div class="border-bottom">
		<p class="locale_user_settings_instructions">This is where you can
			adjust settings that are mostly for you as a user, settings which
			aren't really tied to a corpus. Your settings are backed up when you
			authenticate with the server (this usually happens when the "I need
			to make sure its you" box pops up) so that you can get your
			preferences if you log in on another device.</p>
	</div>

	<div class="border-bottom">
		<h5>{{locale_Skin}}</h5>
		<p class="locale_skin_instructions">You can use a combinations of
			background colors or pictures, and transparency to create the entire
			range between high contrast, to low contrast, low eyestrain screens
			to make it easier on your eyes to enter data for long periods of
			time. You can also keep the background picture on random if you feel
			it might help you stop procrastinating and enter your data.</p>
		<span class="user-pref-skin-filename">{{skin}}</span>
		<div class="control-group">
			<button class="preference btn change-skin">{{locale_Change_Background}}</button>
			<button
				class="preference btn randomize-backgound">{{locale_Background_on_Random}}</button>
			<button
				class="preference btn transparent-dashboard">{{locale_Transparent_Dashboard}}</button>
			<button
				class="preference btn high-contrast-dashboard">{{locale_High_Contrast_Dashboard}}</button>
		</div>
	</div>

	<div class="border-bottom">
		<!-- TODO put a title and description abotu what layouts are  here? -->
		<div class="control-group">
			<input
				class=" btn  set-preferred-dashboard-layoutJustEntering user-pref-dashboard-layout-tile"
				type="image" src="user/layouts/layout1_just_entering.png" /> <input
				class=" btn set-preferred-dashboard-layoutAllTheData user-pref-dashboard-layout-tile"
				type="image" src="user/layouts/layout2_all_the_data.png" /> <input
				class=" btn set-preferred-dashboard-layoutWhatsHappening user-pref-dashboard-layout-tile"
				type="image" src="user/layouts/layout3_whats_happening.png" /> <input
				class=" btn set-preferred-dashboard-layoutCompareDataLists user-pref-dashboard-layout-tile"
				type="image" src="user/layouts/layout4_compare_datalists.png" /> <input
				class=" btn  set-preferred-dashboard-layoutEverythingAtOnce user-pref-dashboard-layout-tile"
				type="image" src="user/layouts/layout5_everything_at_once.png" />
		</div>
	</div>

	<div class="border-bottom">
		<h5>{{locale_Number_Datum}}</h5>
		<p class="locale_number_datum_instructions">You can change the
			number of datum in the data entry area of your dashboard, if you like
			to enter data surrounded by context (ie see the datum that you just
			entered as you would in Word or Excel), you can set it to a high
			number (20). You can set datum to appear at the top or the bottom, see below for more details</p>
		<p>You can also have the app show only one datum, and even make
			that datum full screen using the arrows in its widget (if you like to
			enter data like you would in FileMaker Pro), and use the "Just Entering" layout above. A pretty good middle
			ground is 2 datum visible. With two datum you can see when you are
			creating minimal pairs, or creating new datum to be checked with a
			language consultant, based on an existing datum.</p>
		<label>{{locale_Number_Datum}}</label> <select
			class="num_datum_dropdown">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
			<option value="70">70</option>
			<option value="100">100</option>
			<option value="200">200</option>
		</select>
	</div>

	<div class="border-bottom">
		<h5>Insert datum at the top or the bottom of data entry area</h5>
		<p class=""> You can have new datum inserted at the top or the bottom of the data entry area. If you mostly search your data, you might want it at the top of the screen (closer to the search box) with the "Show me all the data" layout above. You might want data at the top if you are using the app on a small screen like a phone or tablet. This can be confusing because the datum are inserted at the top, not at the bottom of the data entry area.</p>
		<p>You can also have the app show new data at the bottom of the data entry area, this is is a good idea if you are typing in new data from handwritten notes. If you are typing in new data, you also might prefer to use the online app <a href="http://app.lingsync.org">http://app.lingsync.org</a> which has better support for tab and arrow keys which makes data entry much faster.</p>
		
		<p>
		<span class="">
			<label class="radio inline control-label" for="top">Top of Data Entry area</label>
			<input class="choose-show-at-top-of-datum-area" type="radio" name="showTopOrBottomOfDataArea" id="top" value="top"  {{#if showDatumAtTopOfDataEntryArea}}checked="checked"{{/if}} />
		</span>

		<span class="">
			<label class="radio inline control-label"  for="bottom">Bottom of Data Entry area</label>
			<input class="choose-show-at-bottom-of-datum-area" type="radio" name="showTopOrBottomOfDataArea" id="bottom" value="bottom" {{#if showDatumAtBottomOfDataEntryArea}}checked="checked" {{/if}} />
		</span>
		</p>
	</div>
	<div class="border-bottom">
		<h5 class="locale_Font_Size">Font Size</h5>
		<p class="locale_font_size_instructions">It is very easy to adjust
			the font size in LingSync, you can use the standard browser features
			(this is one reason we wanted to make the app in a browser).</p>
		<h5>Larger Font</h5>
		<ul>
			<li>Mac: ⌘+ (Command - Shift - +)</li>
			<li>Linux/Windows: Control - Shift - +</li>
			<li>Android: On most Androids you can double tap the screen to
				zoom in and out, or use your fingers to pinch zoom in and out.</li>
			<li>iPad/iPhone: use your fingers to pinch zoom in and out as
				you would on any other app.</li>
		</ul>
		<h5>Smaller Font</h5>
		<ul>
			<li>Mac: ⌘- (Command -)</li>
			<li>Linux/Windows: Control -</li>
			<li>Android: On most Androids you can double tap the screen to
				zoom in and out, or use your fingers to pinch zoom in and out.</li>
			<li>iPad/iPhone: use your fingers to pinch zoom in and out as
				you would on any other app.</li>
		</ul>
	</div>

	<div class="border-bottom">
		<h5 class="locale_Full_Screen">How to go fullscreen</h5>
		<p class="locale_full_screen_instructions">It is very easy to go
			full screen and make LingSync look like a native desktop application,
			(either with a toolbar) or in complete full screen presentation mode.</p>
		<h5>Full screen</h5>
		<ul>
			<li>Mac: ⌘⇧F (Command - Shift - F)</li>
			<li>Linux: let us know if you figure it out.</li>
			<li>Windows: F11</li>
			<li>Android: let us know if you figure it out.</li>
			<li>iPad/iPhone: let us know if you figure it out</li>
		</ul>
		<h5>Full screen (can still see tabs)</h5>
		<ul>
			<li>Mac: ⌘^F (Command - Control - F)</li>
			<li>Linux/Windows: (This how Chrome is normally)</li>
			<li>Android: (This how Chrome is normally)</li>
			<li>iPad/iPhone: (This how Chrome is normally)</li>
		</ul>
	</div>
	

	<div class="border-bottom">
		<h5 class="locale_Full_Screen">How to install the app on a Mac, iPhone and Android</h5>
		<p class="">On Mac, iPhone and Android it is very easy to go turn any web app into an installed app, which will show up in your list of icons and be easier for task switching between entering data, checking email and browsing the web.</p>
		<h5>Mac</h5>
		<p>If you have a Mac computer you can use <a href="http://fluidapp.com/" target="_blank">FluidApp</a> to turn any web app (an app running in a browser) into a desktop app. <a href="http://fluidapp.com/" target="_blank">How to video on FluidApp.com</a> </p>
		
		<h5>Android</h5>

		<p>We have an Android app in the Android app store which you can install: <a href="https://play.google.com/store/apps/details?id=org.lingsync.fieldlinguistics" target="_blank">LingSync Android App</a>.</p>

		<p>If you Android 4 or better, you actually can install <a href="https://play.google.com/store/apps/details?id=com.chrome.beta" target="_blank">Chrome Beta</a> to turn any web app into an installed app. <a href="https://developers.google.com/chrome/mobile/docs/installtohomescreen" target="_blank">How to with screenshots</a></p>
		<ul>
			<li>Open Chrome Beta on your Android</li>
			<li>Go to the app</li>
			<li>Click on the menu button</li>
			<li>Click on "Add to homescreen"</li>
			<li>Now you will see the LingSync icon in your list of apps!</li>
		</ul>

		<h5>iPhone/iPad</h5>

		<p>To create a shortcut for a webpage on your Home Screen on an iPhone or iPad tap the square with an arrow <image src="https://support.apple.com/library/APPLE/APPLECARE_ALLGEOS/1Tips-icons/II062-share_icon_2x.png"/>, and then tap Add to Home Screen.  <a href="http://support.apple.com/kb/TI42" target="_blank">How to with screenshots</a></p>
		<ul>
			<li>Open Safari on your iPhone/iPad</li>
			<li>Go to the app</li>
			<li>Click on the square with an arrow icon</li>
			<li>Click on "Add to homescreen"</li>
			<li>Now you will see the LingSync icon on your homescreen!</li>
		</ul>

		<h5>Other systems</h5>

		<ul>
			<li>Windows: (Let us know if you figure it out)</li>
			<li>Linux: (Let us know if you figure it out)</li>
		</ul>

		<h5>If you have a lot of data...</h5>

		<p>
			If you have a lot of data and you are out in the field and want to work with a really slow connection, or with no internet connection at all, <a href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform" target="_blank">contact us</a>, we can help you install a database server on your computer. 
		</p>
	</div>

</div>
