
<a href="#" class="pull-right" title="{{locale_Edit_Public_User_Profile}}" 	rel="tooltip"> <i
	class="icons icon-edit edit-user-profile "></i></a>
<h1>
	<span>{{locale_User_Profile}}</span> <small>{{username}} ({{firstname}} {{lastname}}) </small>
</h1>
<a href = "http://lingsync.org/{{username}}" target="_blank"><i class=" icon-link"></i></a>
<small>Shareable URL: http://lingsync.org/{{username}}</small>
<hr/>
<dl>
	<dt>{{locale_Gravatar}}</dt>
	<dd>
		<img class="gravatar-image gravatar-large" src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon" />
	</dd>
	<dt>{{locale_Email}}</dt>
	<dd class="email">{{email}}</dd>
	<dt>{{locale_Research_Interests}}</dt>
	<dd class="researchInterest">{{researchInterest}}</dd>
	<dt>{{locale_Affiliation}}</dt>
	<dd class="affiliation">{{affiliation}}</dd>
	<dt>{{locale_Description}}</dt>
	<dd class="description">{{description}}</dd>
  <dt><i class="icon-cloud"></i> <span>{{locale_Corpora}}</span></dt>
	<dd>
		<ul class="corpora">
		</ul>
	</dd>
</dl>


