
<!-- This div aligns the title with the icons in the corner -->
<div>
	<div>
		<i class="icons icon-resize-full pull-right"></i> 
		<i	class="icons icon-book pull-right"></i>
	</div>
	<div id="corpus-title">
		<label>Title:</label>
		<textarea class="title">{{title}}</textarea>
	</div>
</div>

<!-- This div aligns the description with the menu buttons -->
<div>
	<div id="corpus-description">
		<label>Description:</label>
		<textarea class="description">{{description}}</textarea>
	</div>
	<div class="btn-group corpusMenu">
		<!-- This div is necessary so that the menu appears below the buttons -->
		<div class="btn-group">
			<button class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown">
				New <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="new_datum"
					href="#corpus/{{titleAsUrl}}/datum/new">New Datum</a></li>
				<li><a class="data-list-embedded"
					href="#corpus/{{titleAsUrl}}/datalist">New Data List</a></li>
				<li><a class="new_session"
					href="#corpus/{{titleAsUrl}}/session/12">New Session</a></li>
				<li><a class="new_corpus" href="#corpus/">New Corpus</a></li>
			</ul>
		</div>
		<div>
			<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
				Data <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="" href="#import">Import</a></li>
				<li><a class="" href="#corpus/{{titleAsUrl}}/export">Export</a></li>
			</ul>
		</div>
	</div>
</div>



