
<i class="icons icon-resize-full pull-right"></i>
<i class="icons icon-check pull-right"></i>
<div class="corpusMenu">

	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			New <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li class="new_datum">New Datum</li>
			<li><a class="data-list-embedded"
				href="#corpus/{{titleAsUrl}}/datalist">New Data List</a></li>
			<li><a class="new_session"
				href="#corpus/{{titleAsUrl}}/session/12">New Session</a></li>
			<li><a class="new_corpus" href="#corpus/">New Corpus</a></li>
		</ul>
	</div>

	<div class="btn-group">
		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			Data <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="" href="#import">Import</a></li>
			<li><a class="" href="#corpus/{{titleAsUrl}}/export">Export</a></li>
		</ul>
	</div>
</div>

<label>Title:</label>
<input value="{{title}}"/>
<label>Description:</label>
<textarea class="description">{{description}}</textarea>

<div class="accordion" id="accordion-edit-embedded">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-edit-embedded" href="#collapseSessionsEE">
				<h4>SESSIONS associated with this corpus</h4>
				 </a>
		</div>
		<div id="collapseSessionsEE" class="accordion-body collapse"
			style="height: 0px;">
			<div class="accordion-inner">
				<ul>
				<li>Session 1</li>
				<li>Session 2</li>
				<li>Session 3</li>
				<li>Session 3</li>
				<li>Session 3</li>
				<li>Session 3</li>
				<li>Session 7</li>
				<li>Session 8</li>
				<li>Session 9</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="#accordion-edit-embedded" href="#collapseDatalistsEE">
				<h4>Datalists associated with this corpus</h4>
				</a>
		</div>
		<div id="collapseDatalistsEE" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
				<li>Datalist 1</li>
				<li>Datalist 2</li>
				<li>Datalist 3</li>
				<li>Datalist 4</li>
				<li>Datalist 5</li>
				<li>Datalist 6</li>
				<li>Datalist 7</li>
				<li>Datalist 8</li>
				<li>Datalist 9</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="accordion-edit-embedded" href="#collapsePermissionsEE">
				<h4>Permissins associated with this corpus</h4>
				</a>
		</div>
		<div id="collapsePermissionsEE" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
				<li>Permission 1</li>
				<li>Permission 2</li>
				<li>Permission 3</li>
				<li>Permission 4</li>
				<li>Permission 5</li>
				<li>Permission 6</li>
				<li>Permission 7</li>
				<li>Permission 8</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<h4>Datum field settings</h4>
<ul class="datum_fields_settings unstyled"></ul>
<select class="choose_add_field">
	<option value="judgement">Gramaticality/Acceptability
		Judgement</option>
	<option value="utterence">Orthography/Utterance</option>
	<option value="morphemes">Morphemes</option>
	<option value="gloss">Gloss</option>
	<option value="translation">Translation</option>
	<option value="transcription">IPA Transcription</option>
	<option value="context">Context</option>
	<option value="semantic_denotation">Semantic Denotation</option>
	<option value="Create New">Create New</option>
</select>
Encrypt if confidential:
<input type="checkbox" class="add_encrypted"{{encrypted}}></input>
<label>Help Text</label>
<textarea placeholder="Put a HELP TEXT here (optional) Example from DataOne: Format conventions: use uppercase ,Codes for missing values: unknown" class="add_help"></textarea>
 <button class="btn btn-primary add_datum_field" value = "Add">Add</button>

<textarea
	placeholder="Put a help text here (optional) Example from DataOne: Format conventions: use uppercase ,Codes for missing values: unknown"
	class="add_help"></textarea>
<button class="btn btn-primary add_datum_field" value="Add">Add</button>



<h4>Datum state settings</h4>
<ul class="datum_state_settings unstyled"></ul>
<input class="add_input" value="" placeholder="Add..."></input>
<select class="add_color_chooser">
	<option value="success">Green</option>
	<option value="warning">Orange</option>
	<option value="important">Red</option>
	<option value="primary">Blue</option>
	<option value="info">Teal</option>
	<option value="inverse">Black</option>
	<option value="">Default</option>
</select>
<button class="btn btn-primary add_datum_state" value="Add">Add</button>

<h3>Comments</h3>
<div class="comments"></div>
<button class="btn btn-primary add_comment" value="Add">Add
	Comment</button>
