<div class="pull-right">
    <i class="icons icon-book"></i>
    <spacer></spacer>
    <i class="icons icon-resize-small"></i>
</div>
<div class="btn-toolbar ">
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      New <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="new-datum"><a href="#">New Datum</a></li>
      <li class="new-data-list"><a href="#">New Data List</a></li>
      <li class="new-session"><a href="#">New Session</a></li>
      <li class="new-corpus"><a href="#">New Corpus</a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Data <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#import">Import Data</a></li>
      <li><a href="#corpus/{{titleAsUrl}}/export">Export Data</a></li>
    </ul>
  </div>
  <!-- /btn-group -->

  <!-- Toggle to readonly -->
  <div class="btn-group">
    <button class="btn btn-success save-corpus">
      Save</button>
  </div>
</div>


<label>Title:</label>
<input class="corpus-title-input" value="{{title}}" type="text"/>
<label>Description:</label>
<textarea class="corpus-description-input">{{description}}</textarea>

<div class="accordion" id="accordion-edit-fullscreen">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-fullscreen" href="#collapseSessionsEF">
        <h4>Sessions associated with this corpus</h4>
         </a>
    </div>
    <div id="collapseSessionsEF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "sessions-updating-collection unstyled">
           <!-- Updating Sessions Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-fullscreen" href="#collapseDatalistsEF">
        <h4>Datalists associated with this corpus</h4>
        </a>
    </div>
    <div id="collapseDatalistsEF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "datalists-updating-collection unstyled">
           <!-- Updating DataLists Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-fullscreen" href="#collapsePermissionsEF">
        <h4>Permissions associated with this corpus</h4>
        </a>
    </div>
    <div id="collapsePermissionsEF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "permissions-updating-collection unstyled">
            <!-- Updating Permissions Collection -->
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-fullscreen" href="#collapseDatumFieldSettingsEF">
        <h4>Datum field settings</h4>
        </a>
    </div>
    <div id="collapseDatumFieldSettingsEF" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="datum_field_settings unstyled"></ul>
        <div class="breadcrumb">
        <input type="text" class="span3 choose_add_field" data-provide="typeahead" data-items="4" 
        data-source="[&quot;Phonemic Transcription&quot;,&quot;Phonetic Transcription&quot;,&quot;Semantic Denotation&quot;,&quot;Semantic Context&quot;,&quot;Spanish&quot;,&quot;Notes&quot;]">
        
          <!-- <select class="choose_add_fields">
            <option value="judgement">Gramaticality/Acceptability Judgement</option>
            <option value="utterence">Orthography/Utterance</option>
            <option value="morphemes">Morphemes</option>
            <option value="gloss">Gloss</option>
            <option value="translation">Translation</option>
            <option value="transcription">IPA Transcription</option>
            <option value="context">Context</option>
            <option value="semantic_denotation">Semantic Denotation</option>
            <option value="Create New">Create New</option>
        </select>  -->
        Encrypt if confidential: <input type="checkbox" class="add_encrypted"{{encrypted}}></input>
            <label>Help Text</label>
              <textarea
              placeholder="Put a help text here (optional) Example from DataOne: Format conventions: use uppercase ,Codes for missing values: unknown"
              class="add_help"></textarea>
          <button class="btn btn-primary add_datum_field" value="Add">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-fullscreen" href="#collapseDatumStateSettingsEF">
        <h4>Datum state settings</h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatumStateSettingsEF">
        <ul class="datum_state_settings unstyled"></ul>
        <input class="add_input" value="" placeholder="Add..." type="text"></input>
        <select class="add_color_chooser">
          <option value="success">Green</option>
          <option value="warning">Orange</option>
          <option value="important">Red</option>
          <option value="primary">Blue</option>
          <option value="info">Teal</option>
          <option value="inverse">Black</option>
          <option value="">Default</option>
        </select>
        <button class="btn btn-primary add_datum_state" value="Add">Add</button>
    </div>
  </div>      
</div>        

<h3>Comments</h3>
<ul class="comments unstyled"></ul>

<div class="alert alert-info">
  <span> <img src="{{gravatar}}"/></span>
  <span>{{username}} new comment: </span>
  <i class="icons icon-comment"></i>
  <div class= "pull-right">  {{timestamp}}</div>
  <textarea class="comment-new-text">{{text}}</textarea>
</div>

<button class="btn btn-primary add-comment-edit" value="Add">Add
  Comment</button>

