<div class="fullscreen pull-right">
	<a href="#corpus/{{nameAsUrl}}"><i class="icons icon-resize-small"></i></a>
</div>
<div class="corpusMenu">

	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			New <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="new_datum" href="#corpus/{{nameAsUrl}}/datum/new">New
					Datum</a></li>
			<li><a class="new_data_list"
				href="#corpus/{{nameAsUrl}}/datalist">New Data List</a></li>
			<li><a class="new_session"
				href="#corpus/{{nameAsUrl}}/session/12">New Session</a></li>
			<li><a class="new_corpus" href="#corpus/">New Corpus</a></li>
		</ul>
	</div>

	<div class="btn-group">
		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			Data <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="" href="#import">Import</a></li>
			<li><a class="" href="#corpus/{{nameAsUrl}}/export">Export</a></li>
		</ul>
	</div>
</div>

<div id="corpusName">
	<h3>{{name}}</h3>
</div>

<div class="description">{{description}}</div>

<div class="sessions_list"></div>

<div class="dataLists_list"></div>

<div class="permissions_settings"></div>

<div class="datum_field_settings">Default Datum Fields</div>

<div class="datum_state_settings">Available Datum States</div>

