<div class="pull-right">
  <a href="#"   title="{{locale_Edit_Datalist}}" rel="tooltip">
    <i class="icons icon-edit"></i></a>
  <a href="#"   title="{{locale_Show_in_Dashboard}}" rel="tooltip" >
    <i class="icons icon-resize-small"></i></a>
</div>

<h3><i class="icon-pushpin"></i> {{title}}
<small> {{datumCount}}</small></h3>
<h4>{{dateCreated}}</h4>

{{description}}

<ul class="unstyled audio_video_ul" ></ul>

<!-- Data list comments -->
<ul class="comments unstyled"></ul>
<div class="new-comment-area"></div>


<!--DataList Menu  -->
<div class="btn-group">
  <a  href="#" class="btn btn-mini btn-primary" title="{{locale_Play_Audio_checked}}" rel="tooltip" >
    <i class=" icon-bullhorn"></i></a>
  <a  href="#" class="btn btn-mini btn-primary" title="{{locale_Remove_checked_from_datalist_tooltip}}" rel="tooltip" >
    <i class=" icon-remove-sign"></i></a>
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Decrypt_checked}}" rel="tooltip">
    <i class=" icon-unlock"></i></a>
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Encrypt_checked}}" rel="tooltip">
    <i class=" icon-lock"></i></a>
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Show_confidential_items_Tooltip}}" rel="tooltip">
    <i class=" {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i></a>
  <a  href="#" class="btn btn-mini btn-info" title="{{locale_Plain_Text_Export_Tooltip_checked}}" rel="tooltip" >
    <i class=" icon-paste"></i></a>
  <a href="#" class="btn btn-mini btn-info latex-export-datalist LaTeX" title="{{locale_Export_checked_as_LaTeX}}" rel="tooltip">
    <i>LaTeX</i></a>
  <a href="#" class="btn btn-mini btn-info CSV" title="{{locale_Export_checked_as_CSV}}" rel="tooltip">
    <i>CSV</i></a>
  <a href="#" class="btn btn-mini btn-info WordPress" title="{{locale_Export_checked_as_WordPress}}" rel="tooltip">
    <i>WordPress</i></a>
  <a href="#" class="btn btn-mini btn-info XML" title="{{locale_Export_checked_as_XML}}" rel="tooltip">
    <i>XML</i></a>
  <a href="#" class="btn btn-mini btn-info JSON" title="{{locale_Export_checked_as_JSON}}" rel="tooltip">
    <i>JSON</i></a>
</div>
