<!--  Search Data lists icons -->
<div class="pull-right">
  <button class="btn btn-success save-search-datalist" value="Save">{{locale_Save}}</button>
  <a href="#"   title="{{locale_Hide_Datalist}}" rel="tooltip">
      <i class="icons icon-minus-sign"></i>
  </a>  
</div>
<h4><i class="icon-search"></i> Search Result</h4>
<label>{{locale_Title}}</label> 
<i class="icon-pushpin"></i> <small id="searchDatumCount"> {{datumCount}}</small>
<textarea class="data-list-title">{{title}}</textarea>
<label>{{locale_Description}}</label>
<textarea class="data-list-description" placeholder="{{locale_Datalist_Description}}">
{{description}}</textarea>



<!--Search DataList Menu  -->
<div class="btn-group">
  <a  href="#" class="btn btn-mini btn-primary" title="{{locale_Play_Audio_checked}}" rel="tooltip" >
    <i class=" icon-bullhorn"></i></a>
  <!--This cannot be included in search or import <a  href="#" class = "locale_Remove_checked_from_datalist_tooltip btn btn-mini btn-primary" rel="tooltip" >
    <i class=" icon-remove-sign"></i></a> -->
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Decrypt_checked}}" rel="tooltip">
    <i class=" icon-unlock"></i></a> 
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Encrypt_checked}}" rel="tooltip">
    <i class=" icon-lock"></i></a>
  <a href="#" class="btn btn-mini btn-primary" title="{{locale_Show_confidential_items_Tooltip}}" rel="tooltip">
    <i class=" {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i></a>
  <a  href="#" class="btn btn-mini btn-info" title="{{locale_Plain_Text_Export_Tooltip_checked}}" rel="tooltip" >
    <i class=" icon-paste"></i></a>
  <a href="#" class="btn btn-mini btn-info latex-export-datalist LaTeX" title="{{locale_Export_checked_as_LaTeX}}" rel="tooltip">
    <i>LaTeX</i></a>
  <a href="#" class="btn btn-mini btn-info CSV" title="{{locale_Export_checked_as_CSV}}" rel="tooltip">
    <i>CSV</i></a>
</div>

<ul class="unstyled audio_video_ul" ></ul>
