<div class="alert alert-info">
	<span> <img class="gravatar-small" src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon" /></span> <span>
		{{username}} </span> <i class="icons icon-comment"></i>

	<div class="pull-right">
		<span title="{{localTime}}">{{timestamp}}</span> <i
			class="icon-pencil edit-comment-button"> </i> <i
			class="icon-remove-sign remove-comment-button"> </i>
	</div>

        <textarea class="comment-textarea hide" >{{text}}</textarea>
        <div class="comment-text">{{text}}</div>
</div>