  <div class="modal-header">
    <h1>{{locale_Keyboard_Shortcuts}}</h1>  <!-- locale_Keyboard_Shortcuts -->
  </div>
  <div class="modal-body">
     <table class="table">  
        <thead>  
          <tr>  
            <th>{{locale_Actions}}</th>  
            <th></th>
            <th>{{locale_Navigation}}</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td> <label>{{locale_Datum_Status_Checked}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td> <label>{{locale_Next_Datum}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>{{locale_New_Datum}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label>{{locale_Previous_Datum}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>{{locale_New_Session}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label>{{locale_Search}}</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
        </tbody>  
      </table>  
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{locale_Close}}</a>
    <a href="#" class="btn btn-success" data-dismiss="modal">{{locale_Save}}</a>
  </div>











           
     
