<div class="title">
	<h1>{{locale_Advanced_Search}}</h1>
</div>
<div class="alert alert-info alert-block">
	<a class="close" data-dismiss="alert" href="#">×</a> 
	<strong class="alert-heading ">How Search Works:</strong> 
	<span>{{{locale_advanced_search_explanation}}}</span>
</div>

<!-- Force directed graph of morphemes in the corpus -->
<div class="corpus-precedence-rules-visualization"></div>

<button class="btn btn-primary btn-search-union">
  <span>{{locale_OR}}</span> 
  <img src = "images/or_venn_diagram.png">
</button>
<button class="btn btn-primary btn-search-intersection">
  <span>{{locale_AND}}</span>
  <img src = "images/and_venn_diagram.png">
</button>

<table class="advanced_search_datum unstyled"></table>
<table class="advanced_search_session unstyled"></table>
<button class="btn btn-primary btn-search-union">
  <span>{{locale_OR}}</span> 
  <img src = "images/or_venn_diagram.png">
</button>
<button class="btn btn-primary btn-search-intersection">
  <span>{{locale_AND}}</span>
  <img src = "images/and_venn_diagram.png">
</button>

