<!-- Corpus icons - Different for all Corpus Handlebars -->
<div class="pull-right">
   <a href="#" class= "locale_Show_Readonly" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#" class= "locale_Show_in_Dashboard" rel="tooltip" >
    <i class="icons icon-resize-small"></i></a>
</div>
<div class="btn-toolbar ">
  <!-- Corpus Menu - Identical for all Corpus Handlebars -->
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class ="locale_New_menu"></span>  <span class="caret"></span>
      </button>
      <!-- create new stuff in same dashboard -->
      <ul class="dropdown-menu">
        <li class="new-datum"><a href="#" class = "locale_New_Datum"></a></li>
        <li class="new-conversation"><a href="#corpus/{{pouchname}}/conversation/new" class = "locale_New_Conversation"></a></li>
        <li class="new-data-list"><a href="#" class = "locale_New_Data_List"></a></li>
        <li class="new-session"><a href="#" class = "locale_New_Session"></a></li>
        <li class="new-corpus"><a href="#" class = "locale_New_Corpus"></a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class ="locale_Data_menu"></span> <span class="caret"></span>
      </button>
      <!-- modify URL -->
      <ul class="dropdown-menu">
        <li><a href="#import" class = "locale_Import_Data"></a></li>
        <li><a href="#corpus/{{pouchname}}/export" class = "locale_Export_Data"></a></li>
        <li><a href="#corpus/{{pouchname}}/alldata" class = "locale_All_Data"></a></li>
      </ul>
    </div>
	  <!-- /Corpus Menu - Identical for all Corpus Handlebars -->
	  <!-- Corpus Save and Toggle to Readonly - Edit View Only-->
	  <div class="btn-group">
	    <button class="btn btn-success save-corpus">
	     <span class="locale_Save"></span></button>
	  </div>
  </div>
</div>

	

<label class = "locale_Title"></label> <i class="icon-cloud"></i> 
<input class="corpus-title-input" value="{{title}}" type="text"/><small>{{publicCorpus}}</small>

<label class = locale_Description></label>
<textarea class="corpus-description-input">{{description}}</textarea>

<small>Shareable URL: http://www.lingsync.org/{{username}}/{{titleAsUrl}}</small>
        
<div class="accordion" id="accordion-edit-embedded">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseSessionsEE">
        <i class="icon-calendar"></i> <strong class="locale_Sessions_associated"></strong>
         </a>
    </div>
    <div class="accordion-body collapse" id="collapseSessionsEE">
      <div class="accordion-inner">
        <span class="locale_elicitation_sessions_explanation"></span>
        <ul class = "sessions-updating-collection unstyled">
                <!-- Updating Sessions Collection -->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatalistsEE">
          <i class="icon-pushpin"></i> <strong class="locale_Datalists_associated"></strong>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatalistsEE" >
      <div class="accordion-inner">
				<span class="locale_datalists_explanation"></span>
         <ul class = "datalists-updating-collection unstyled">
                <!-- Updating DataLists Collection -->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"
				data-parent="accordion-edit-embedded" href="#collapsePermissionsEE">
				<i class="icon-group"></i> <strong class="locale_Permissions_associated"></strong>
			</a>
		</div>
    <div class="accordion-body collapse" id="collapsePermissionsEE">
      <div class="accordion-inner container span12">
				<span class="locale_permissions_explanation"></span>
				<label class = "locale_Public_or_Private"></label>
				<input type="text" value="{{publicCorpus}}" class=" public-or-private" data-provide="typeahead" data-items="4" 
				        data-source="[&quot;Public&quot;,&quot;Private&quot;]"/>
				<a href = "http://www.lingsync.org/{{username}}/{{titleAsUrl}}" target="_blank"><i class=" icon-link"></i></a>
				<small>Shareable URL: http://www.lingsync.org/{{username}}/{{titleAsUrl}}</small>
			<p>
				<button class="btn btn-inverse reload-corpus-team-permissions"><i class="icon-refresh"></i> See current team members</button>
      </p>
        <ul class = "permissions-updating-collection unstyled">
                      <!-- Updating Permissions Collection -->
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatumFieldSettingsEE">
           <i class="icon-list"></i> <strong class="locale_Datum_field_settings"></strong>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatumFieldSettingsEE">
      <div class="accordion-inner">
				<span class="locale_datum_fields_explanation"></span>
        <ul class="datum_field_settings unstyled"></ul>
        <div class="breadcrumb">
          <span class="pull-right"> 
            <span class="locale_Encrypt_if_confidential"></span>
            <input type="checkbox" class="add_shouldBeEncrypted"{{shouldBeEncrypted}}></input>
          </span> 
          <input type="text" class="span3 choose_add_field"  data-provide="typeahead" data-items="4" data-source="[&quot;Phonemic Transcription&quot;,&quot;Phonetic Transcription&quot;,&quot;Semantic Denotation&quot;,&quot;Semantic Context&quot;,&quot;Spanish&quot;,&quot;Notes&quot;]">
          <label class="locale_Help_Text"></label>
          <textarea class="add_help locale_Help_Text_Placeholder"></textarea>
          <a href="#" class="locale_Add_New_Datum_Field_Tooltip btn btn-primary add-datum-field locale_Add" rel="tooltip">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseDatumStateSettingsEE">
        <i class="icon-flag"></i>  <strong class="locale_Datum_state_settings"></strong>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseDatumStateSettingsEE">
			<span class="locale_datum_states_explanation"></span>
        <ul class="datum_state_settings unstyled"></ul>
        <input class="add_input locale_Add_Placeholder" value="" type="text"></input>
        <select class="add_color_chooser">
          <option value="success" class = "locale_Green"></option>
          <option value="warning" class = "locale_Orange"></option>
          <option value="important" class = "locale_Red"></option>
          <option value="info" class = "locale_Teal"></option>
          <option value="inverse" class = "locale_Black"></option>
          <option value="" class = "locale_Default"></option>
        </select>
        <a href="#" class = "locale_Add_New_Datum_State_Tooltip btn btn-primary add-datum-state locale_Add" rel="tooltip">
        </a>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#accordion-edit-embedded" href="#collapseConversationFieldSettingsEE">
           <i class="icon-comments-alt"></i> <strong class="locale_Conversation_field_settings"></strong>
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseConversationFieldSettingsEE">
      <div class="accordion-inner">
				<span class="locale_conversation_fields_explanation"></span>
        <ul class="conversation_field_settings unstyled"></ul>
        <div class="breadcrumb">
          <span class="pull-right"> 
            <span class="locale_Encrypt_if_confidential"></span>
            <input type="checkbox" class="add_conversationShouldBeEncrypted"{{shouldBeEncrypted}}></input>
          </span> 
          <input type="text" class="span3 choose_add_conversation_field"  data-provide="typeahead" data-items="4" data-source="[&quot;Semantic Context&quot;,&quot;Speakers&quot;,&quot;Register&quot;,&quot;World Knowledge&quot;,&quot;External References&quot;,&quot;Location&quot;,&quot;Notes&quot;]">
          <label class="locale_Help_Text"></label>
          <textarea class="add_conversation_help locale_Help_Text_Placeholder"></textarea>
          <a href="#" class="locale_Add_New_Conversation_Field_Tooltip btn btn-primary add-conversation-field locale_Add" rel="tooltip">
          </a>
        </div>
      </div>
    </div>
  </div>      
</div>

<!-- Corpus comments -->
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <textarea class="comment-new-text"></textarea>
  <button class="btn btn-mini btn-primary add-comment-corpus" value="Add">
    <i class="icon-comment"></i>
    <span class = "locale_Add"></span> 
  </button>
</div>