 <i class="icons icon-resize-small pull-right"></i>
  <h1>Import<small id="import-type-description">{{corpusname}}</small></h1>
<div class="drop-zone ">(Drop files here)
  <textarea class="large-textarea" id="export-text-area">{{rawText}}</textarea>  
  <textarea class="large-textarea" id="export-text-area">{{asCSV}}</textarea>  
  <textarea class="large-textarea" id="export-text-area">{{asXML}}</textarea>  
  <div class="import-data-list-view"></div>
</div>
  <div>{{status}}</div>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
