<div class="container-fluid well">
	<div class="row-fluid ">

		<div class="">
			<!--Body content-->
			<div class="well">
				<h1>
					<span class="locale_Import"></span> <small>{{pouchname}}</small>
				</h1>
				<span class="locale_Import_Instructions"></span>
				   <div>{{status}}</div>
				   <a href="#"><i class="icons icon-envelope"></i></a> 
			</div>

		</div>
	</div>
	<div class="row-fluid "></div>
</div>

<div class="well" id="import-first-step">
 <span class="locale_Import_First_Step"></span><div>{{status}}</div>
		<div class="well">
			<textarea
						class="export-large-textarea  drop-zone locale_Drag_and_Drop_Placeholder">{{rawText}}</textarea>
      <span>Which format are you importing from?</span>

		   <div class="btn-group">			
	       <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
  	     <span>Import from</span> <span class="caret"></span>
	       </button>		
			 <ul class="dropdown-menu" >
       <li><a tabindex="-1" href="#">CSV</a></li>
       <li><a tabindex="-1" href="#">Tabbed</a></li>
       <li><a tabindex="-1" href="#">XML</a></li>
       <li><a tabindex="-1" href="#">ElanXML</a></li>
       <li><a tabindex="-1" href="#">Toolbox</a></li>
       <li><a tabindex="-1" href="#">Praat Text Grid</a></li>
       <li><a tabindex="-1" href="#">LaTex</a></li>
       <li><a tabindex="-1" href="#">Handout</a></li>
       </ul>
      </div>	
		</div>
</div>

<div class="well " id="import-second-step">
  <span class="locale_Import_Second_Step"></span><div>{{status}}</div>
				
	 <div class="well container span11">

					<div id="import-datum-field-labels" class="row-fluid"></div>
	 </div>

		<div class="scrollable">
					<table id="csv-table-area"
						class="well table table-striped table-bordered table-condensed "></table>
		</div>
				
		<button
      class="btn btn-success approve-import hide locale_Attempt_Import"></button>
				
</div>

<div class="well " id="import-third-step">
  <span class="locale_Import_Third_Step"></span><div>{{status}}</div>
				
	  <div id="import-data-list" class="well">
		  	 <div id="import-data-list-header" class=" "></div>
					<div class=" container span12 ">
						<ul class="unstyled zebra import-data-list-paginated-view"></ul>
						<div class="pagination-control"></div>
				 </div>
	 </div>

				<div id="import-session" class="well"></div>

        <button
          class="btn btn-success approve-save disabled locale_Save_And_Import"></button>

        <progress class="import-progress" max="5" value="0">
          <strong class="locale_percent_completed"></strong>
        </progress>


</div>

