<span class="pull-right {{label}}">
  Encrypt if confidential:
  <input type="checkbox" class="shouldBeEncrypted " {{shouldBeEncrypted}}></input>
</span>

<input class="choose-field " {{userchooseable}} value="{{label}}" type="text"/>
	

<label>Help Text</label>
<textarea class="help-text "
	placeholder="Put a help text here (optional)">{{help}}</textarea>
