<span class="pull-right {{label}}">
<span class ="Encrypt_if_confidential"></span>
  <input type="checkbox" class="encrypted "{{encrypted}}></input>
</span>
<input class="choose-field " {{userchooseable}} value="{{label}}" type="text"/>
<label class = "Help_Text"></label>
<textarea class="help-text loc_Help_Text">{{help}}</textarea>
