<div class="pull-right">
	<i class="icons icon-save "></i><span class="last-modified">{{dateModified}}</span><br/>
	<i class="icons icon-time"></i><span class="date-created">{{dateEntered}}</span><br/>
  <span class="session-link"></span>
</div>
<!-- list for the fields -->
<ul class="datum_fields_ul unstyled"></ul>
<a  href="#" class= "locale_See_Fields" rel="tooltip" >
  <i class="icons icon-list-alt pull-right"> </i></a>
<!-- Datum Edit view specialized fields and menu area -->
<div class="row-fluid">
	<div class="span5">
		<!-- Buttons for various actions -->
	  <div class=" btn-group">
	    <a href="#" class = "locale_Insert_New_Datum btn btn-mini btn-primary" rel="tooltip">
	      <i class=" icon-plus"></i></a>
	    <a  href="#" class = "locale_Duplicate btn btn-mini btn-primary" rel="tooltip">
	      <i class=" icon-copy"></i></a>  
	    <a  href="#" class= "locale_Encrypt btn btn-mini btn-primary" rel="tooltip">
	      <i class=" {{#if confidential}}icon-lock{{else}}icon-unlock{{/if}}"></i></a> 
	    <a href="#" class = "locale_Show_confidential_items_Tooltip btn btn-mini btn-primary" rel="tooltip">
	      <i class=" {{#if decryptedMode}}icon-eye-close{{else}}icon-eye-open{{/if}}"></i>
	    </a>
	    <a  href="#" class = "locale_Plain_Text_Export_Tooltip btn btn-mini btn-primary" rel="tooltip" >
	      <i class=" icon-paste"></i></a>
	    <a href="#" class = "locale_LaTeX  LaTeX btn btn-mini btn-primary" rel="tooltip">
	      <i class="">LaTeX</i>
	    </a>
	    <a href="#" class = "locale_CSV_Tooltip CSV btn btn-mini btn-primary" rel="tooltip">
	      <i class="">CSV</i>
	    </a>
	  </div>
	  <br/>
		<a href="#" class="audio_video locale_Drag_and_Drop_Audio_Tooltip" rel="tooltip"></a>
	</div>
  <div class="span4 border-left">
		<!-- list for the tags -->
		<ul class="datum_tags_ul unstyled"></ul>
		<div class="controls span12 no-margin-left">
			<!-- TODO go through the corpus to find tags, and put them in this autocomplete -->
			<div class="input-append span12">
			  <input class="add_tag span6" type="text" data-provide="typeahead" data-items="4" 
	            data-source="[&quot;Passive&quot;,&quot;Nominalization&quot;]" 
	      /><button class=" btn btn-primary add_datum_tag" type="button">
	        <i class=" icon-tag"></i>
	        <span class="locale_Add">Add</span> 
	      </button>
	    </div>
		</div>
	</div>
  <div class="datum_state span3 border-left">
    <span class="label label-{{statecolor}} datum-state-color "><i class = " icon-flag"></i><span class="datum-state-value">{{datumstate}}</span></span><br/>
		<!-- drop down for the states -->
    <select class="datum_state_select span12 ">
      {{#each datumStates}}
          <option value="{{state}}" {{selected}}>{{state}}</option>
      {{/each}}
    </select>
  </div>
</div>


<!-- Datum comments -->
<ul class="comments unstyled"></ul>
<div class="alert alert-info">
  <textarea class="comment-new-text"></textarea>
  <button class="btn btn-mini btn-primary add-comment-datum" value="Add">
    <i class="icon-comment"></i>
    <span class = "locale_Add"></span> 
  </button>
</div>