<div class="datum">
    <a href="#corpus/{{corpusName}}/datum/{{sessionId}}">Click to expand</a>
    <ul>
        <li>
            <div class="datum-title">Attestation:</div>
            <div class="datum-entry">{{attestation}}</div>
        </li>
        <li>
            <div class="datum-title">Gloss:</div>
            <div class="datum-entry">{{gloss}}</div>
        </li>
        <li>
            <div class="datum-title">Translation:</div>
            <div class="datum-entry">{{translation}}</div>
        </li>
    </ul>
</div>