<span class="pull-right {{label}}">

<span class ="locale_Encrypt_if_confidential"></span>
  <input type="checkbox" class="shouldBeEncrypted " {{shouldBeEncrypted}}></input>
</span>

<input class="choose-field " {{userchooseable}} value="{{label}}" type="text"/>
<label class = "locale_Help_Text"></label>
<textarea class="help-text locale_locale_Help_Text">{{help}}</textarea>
