<span class="pull-right {{id}}"> 
  <span>
    {{locale_Encrypt_if_confidential}}
  </span> 
  <input type="checkbox" class="shouldBeEncrypted" {{shouldBeEncrypted}}></input>
	<i class="remove-datum-field icon-remove-sign"></i>
</span>

<input 
  class="choose-field fieldlinguist-label" 
  {{userchooseable}} 
  title="Label for field linguists"
  value="{{labelFieldLinguists}}"
	type="text"></input>

<input 
  class="choose-field non-linguist-label" 
  {{userchooseable}} 
  title="Label for non-linguists"
  value="{{labelNonLinguists}}"
  type="text"></input>

<label>{{locale_Help_Text}}</label>
<textarea class="help-text" placeholder="{{locale_Help_Text_Placeholder}}">{{help}}</textarea>
