<input class="datum_state_input" value="{{state}}" type="text"></input>
<select class="color_chooser">
  <option value="success"  >{{locale_Green}}</option>
  <option value="warning"  >{{locale_Orange}}</option>
  <option value="important"  >{{locale_Red}}</option>
  <option value="info"  >{{locale_Teal}}</option>
  <option value="inverse"  >{{locale_Black}}</option>
  <option value=""  >{{locale_Default}}</option>
</select>
<span class="label label-{{color}}"><i class = " icon-flag"></i>{{state}}</span>

