<span class="pull-right {{label}}"> <span
	 >{{locale_Encrypt_if_confidential}}</span> <input type="checkbox"
	class="shouldBeEncrypted "{{shouldBeEncrypted}}></input> <!-- Issue #797 -->
	<i class="remove-datum-field icon-remove-sign"></i></span>

<input class="choose-field " {{userchooseable}} value="{{label}}"
	type="text" />



<label>{{locale_Help_Text}}</label>
<textarea class="help-text" placeholder="{{locale_Help_Text_Placeholder}}">{{help}}</textarea>
