<div class="pull-right">
	<a href="#"   title="{{locale_Edit_Session}}" rel="tooltip"> <i
		class="icons icon-edit"></i></a> <a href="#"
		  title="{{locale_Show_Fullscreen}}" rel="tooltip"> <i
		class="icons icon-resize-full"></i></a>
</div>

<h4>
	<i class="icon-calendar"></i> <span>{{locale_Elicitation_Session}}</span>
</h4>
<p>
	<strong>{{locale_Goal}}</strong> <span>{{goal}}</span> <br /> <strong
		 >{{locale_Consultants}}</strong> <span>{{consultants}}</span> <br />
	<strong>{{locale_When}}</strong> <span>{{dateElicited}}</span>
</p>