<div class="pull-right">
   <a href="#"   title="{{locale_Show_Readonly}}" rel="tooltip">
    <i class="icons icon-book"></i></a>
  <a href="#"   title="{{locale_Show_Fullscreen}}" rel="tooltip">    
    <i class="icons icon-resize-full"></i></a>
</div>
  
<i class="icon-calendar"></i> <strong>{{locale_Elicitation_Session}}</strong>
<br />
<label>{{locale_Goal}}</label>
<textarea class="session-goal-input">{{goal}}</textarea><br />

<label>{{locale_Consultants}}</label>
<textarea class="session-consultant-input">{{consultants}}</textarea> <br />

<label>{{locale_When}}</label>
<textarea class="session-elicitation-date-input">{{dateElicited}}</textarea>
