<div class="pull-right">
	<a href="#"   title="{{locale_Show_Readonly}}" rel="tooltip"> <i
		class="icons icon-book"></i></a> <a href="#"
		  title="{{locale_Show_in_Dashboard}}" rel="tooltip"> <i
		class="icons icon-resize-small"></i></a>
</div>
<button class="btn btn-success pull-left btn-save-session"
	value="Save">{{locale_Save}}</button>
	<!-- Issue #797 -->
  <button class="btn btn-danger trash-button">
    <i class="icon-trash "></i> </button>


<!-- Required so that the full screen button doesn't end up inside the next div -->
<div class="clear-spacing"></div>
<h1>
	<i class="icon-calendar"></i> <span>{{locale_Elicitation_Session}}</span>
</h1>
<table class="session-fields-ul unstyled"></table>

<a
	href="#corpus/{{dbname}}/session/{{_id}}/alldatainthissession/{{goal}}"><i
	class="icon-list"></i> See all data that was created in this
	Elicitation Session</a>

<!-- Session comments -->
<ul class="comments unstyled"></ul>
<div class="new-comment-area"></div>
