<a href="#session/{{_id}}">
<i class="icon-calendar"></i>
  <span>{{dateElicited}}</span> 
</a>
--
<span>{{locale_Consultants}}</span> <span>{{consultants}}</span>
<br/>
<span>{{locale_Goal}}</span> <span>{{goal}}</span>

