<div class="pull-right">
  <a href="#"   title="{{locale_Edit_Session}}" rel="tooltip">
      <i class="icons icon-edit"></i></a>
  <a href="#"   title="{{locale_Show_in_Dashboard}}" rel="tooltip" >
      <i class="icons icon-resize-small"></i></a>
</div>

<h1 ><i class="icon-calendar"> </i><span>{{locale_Elicitation_Session}}</span></h1>
<ul class="session-fields-ul unstyled"></ul>

<a
	href="#corpus/{{dbname}}/session/{{_id}}/alldatainthissession/{{goal}}"><i
	class="icon-list"></i> See all data that was created in this
	Elicitation Session</a>

<!-- Session comments -->
<ul class="comments unstyled"></ul>
<div class="new-comment-area"></div>
