<a href="#session/{{_id}}">
<i class="icon-calendar"></i>
  <span>{{dateElicited}}</span>
</a>
--
<span>{{locale_Source}}</span> <span>{{source}}</span>
<br/>
<span>{{locale_Goal}}</span> <span>{{goal}}</span>

