<div class="modal-header">
  <h1><i class="icon-calendar"></i> <span>{{locale_New_Session}}</span><small>{{dbname}}</small></h1>
  <span>{{{locale_New_Session_Instructions}}}</span>
</div>
<div class="modal-body">
  <table class="session-fields-ul unstyled"></table>
  <a href="#" class="btn" data-dismiss="modal">{{locale_Cancel}}</a>
  <button class="btn btn-success pull-right btn-save-session" value="Save">{{locale_Save}}</button>
</div>
