<!-- Black Navigation Bar Across the Top -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container ">



      <!-- Home button -->
      <a tabindex="-1" href="#" class=" brand" title="{{locale_Show_Dashboard}}"
        rel="tooltip"> <i class="icons icon-home icon-white"></i></a>

      <!-- Top Search Area -->
      <span class="navbar-search" id="search-top"> </span>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse"
        data-target=".nav-collapse"> <i class="icon-bar"></i> <i
        class="icon-bar"></i> <i class="icon-bar"></i>
      </a>


      <!-- Collapsing area if the screen is not wide enough -->
      <div class="nav-collapse collapse">
        <ul class="nav" role="navigation ">

          <li class="dropdown"><a id="corpus_dropdown_trigger" href="#"
            role="button" class="dropdown-toggle" data-toggle="dropdown"><i
              class="icon-cloud icon-white"></i> {{corpustitle}} -
              {{elicitationgoal}}<b class="caret"></b></a>
              <ul
              class="unstyled dropdown-menu dont_close_corpus_dropdown_if_user_clicks"
              role="menu" aria-labelledby="corpus_dropdown_trigger">

              <li>
                <div class="well ">
                  <strong><span>{{locale_Corpora}}</span></strong>
                  <ul class=" unstyled corpora"></ul>
                </div>
              </li>

              <li>
                <div id="corpus-quickview" class="well "></div>
              </li>
              <li>
                <div id="session-quickview" class="well "></div>
              </li>

            </ul>
          </li>


          <!-- Notification -->
          <li class="dropdown"><a id="notification_dropdown_trigger"
            href="#" role="button" class="dropdown-toggle"
            data-toggle="dropdown"><i
              class="icon-exclamation-sign icon-white"></i> Notifications <b
              class="caret"></b></a>
            <ul
              class="dropdown-menu dont_close_notifications_dropdown_if_user_clicks"
              role="menu" aria-labelledby="notification_dropdown_trigger">




              <!--  <li><span class="locale_Need_save"></span><a
                tabindex="-1" href="#" class="locale_Save_on_this_Computer "
                rel="tooltip"> <i
                  class="icons icon-save save-dashboard icon-white"></i>
              </a></li>
              <li><progress class="unsaved-changes" max="100" value="30">
                </progress></li>

              <li class="not-a   locale_Recent_Changes"></li>


              <li class="divider "></li>

              <li><span class="locale_Need_sync"></span><a
                tabindex="-1" href="#" class="locale_Sync_and_Share "
                rel="tooltip"> <i
                  class="icons icon-sitemap  sync-everything icon-white"></i>
              </a></li>
              <li><progress class="unsynced-changes"
                  max="100" value="80"> </progress></li>

              <li class="not-a  locale_Differences_with_the_central_server"></li> -->


              <li><a tabindex="-1" href="#"
                class="clear_all_notifications"><i class="icon-remove"></i>
                  Clear all notifications</a></li>

              <li><div id="toast-user-area" class="scrollable">
                  <div class="alert alert-info alert-block">
                    <a class="close" data-dismiss="alert" href="#">×</a> <strong
                      class="alert-heading ">Quick Start Instructions:</strong> <span
                       >{{{locale_Instructions_to_show_on_dashboard}}}</span> <span
                       >{{{locale_to_beta_testers}}}</span>
                  </div>
                </div></li>

            </ul></li>


        </ul>
        <ul class="nav pull-right">

          <!--  User dropdown -->
          <li id="auth-menu" class="dropdown"><a href="#"
            id="user_drop_down_trigger" role="button"
            class=" dropdown-toggle pull-left" title="{{locale_View_Public_Profile_Tooltip}}"
            data-toggle="dropdown" rel="tooltip"> <b class="caret"></b>
              <button id="login_register_button" class="btn btn-success hide">Login/Register</button>
              <span id="loggedin_customize_on_auth_dropdown">Customize</span><span
              id="user-quickview"> <i class="icons icon-user icon-white"></i>
            </span>
          </a>
            <ul class="dropdown-menu scrollable min_auth_dropdown_size"
              id="authentication-embedded" role="menu"
              aria-labelledby="user_drop_down_trigger"></ul></li>


        </ul>

      </div>

    </div>
  </div>
</div>



<!-- The rest of the page -->
<div class="container-fluid main">
  <div id="dashboard-view"  >
    <!--Elements in the middle (things that get hidden)  -->

    <div id="search-data-list-quickview" class="well hide span12 ">
      <div id="search-data-list-quickview-header"  ></div>
      <div class=" container  ">
        <ul
          class="unstyled  datalist_hover_datum_views_so_they_look_clickable  search-data-list-paginated-view "></ul>
        <div class="pagination-control"></div>
      </div>
    </div>
    <div class="clear-spacing"></div>

    <div id="insert-unicode" class="well"></div>

    <div id="datums-embedded" class="middle well"></div>
    <div id="session-embedded" class="middle well"></div>
    <div id="corpus-embedded" class="middle well"></div>
    <div id="search-embedded" class="middle well"></div>

    <div id="data-list-embedded" class="well">
      <div id="data-list-embedded-header" class="middle "></div>
      <div>
        <ul
          class="unstyled datalist_hover_datum_views_so_they_look_clickable  current-data-list-paginated-view"></ul>
        <div class="pagination-control"></div>
      </div>
    </div>
  </div>

  <!-- FullScreen Views -->
  <div id="user-fullscreen" class="well "></div>
  <div id="public-user-page" class="well "></div>
  <div id="corpus-fullscreen" class="well "></div>
  <div id="session-fullscreen" class="well "></div>
  <div id="search-fullscreen" class="well "></div>
  <div id="data-list-fullscreen" class="well row">
    <div id="data-list-fullscreen-header"></div>
    <div class="  container span12 ">
      <ul
        class="unstyled  datalist_hover_datum_views_so_they_look_clickable current-data-list-paginated-view"></ul>
      <div class="pagination-control"></div>
    </div>
  </div>
  <div id="datum-container-fullscreen" class="well"></div>
  <div id="import-fullscreen"  ></div>
</div>

<!-- Modals are windows which pop over the active app to take focus -->
<div id="hotkey-settings-modal" class="modal hide"></div>
<div id="user-modal" class="modal hide"></div>
<div id="user-preferences-modal" class="modal hide"></div>
<div id="export-modal" class="modal hide"></div>
<div id="new-session-modal" class="modal hide"></div>
<div id="new-corpus-modal" class="modal hide"></div>
<div id="illustrated_guide_to_dash" class="modal hide">
  <div class="modal-header">
    <button class="btn pull-right" data-dismiss="modal">Close</button>
    <p>
      <span class="help_count_reason"></span> This help will show <span
        class="help_count_left"></span> more times. <a
        href="https://docs.google.com/drawings/d/16MZ_wF0XX83q2QDQO9BPJnF5HGrNgVe17zOAElu6iqU/edit"
        target="_blank">Click here to open the guide in a new tab</a>
    </p>
  </div>
  <a
    href="https://docs.google.com/drawings/d/16MZ_wF0XX83q2QDQO9BPJnF5HGrNgVe17zOAElu6iqU/edit"
    target="_blank"> <img
    src="https://docs.google.com/drawings/pub?id=16MZ_wF0XX83q2QDQO9BPJnF5HGrNgVe17zOAElu6iqU&amp;w=1450&amp;h=918" /></a>
</div>
<div id="quick-authenticate-modal" data-backdrop="static"
  data-keyboard="static" class="modal hide">
  <div class="modal-header">
    <h4>
      <span class="reason_why_we_need_to_make_sure_its_you"></span> <span
         >{{locale_We_need_to_make_sure_its_you}}</span>
    </h4>
  </div>
  <div class="modal-body">
    <label>{{locale_Password}}</label> <input type="password"
      id="quick-authenticate-password" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-success"
      id="quick-authentication-okay-btn">{{locale_Yep_its_me}}</button>
  </div>
</div>
<div id="login_modal" class="modal hide">
  <div class="modal-header">
    <h3>{{locale_Log_In}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error hide welcome-screen-alerts"></div>
    <label>{{locale_Username}}</label> <input size="16" type="text"
      class="welcomeusername" value="" /> <label>{{locale_Password}}</label>
    <input type="password" size="16" class="welcomepassword" value="" />
    <label class="locale_authUrl">Server</label> <input type="text"
      size="16" class="welcomeauthurl" data-provide="typeahead"
      data-items="4"
      data-source='[&quot;LingSync.org&quot;,&quot;LingSync Beta&quot;,&quot;McGill ProsodyLab&quot;,&quot;Localhost&quot;]' />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success sync-my-data"> <span
       >{{locale_Log_In}}</span>
    </a>
  </div>
</div>
