<div class="modal-header">

	<button class="btn locale_Close pull-right" data-dismiss="modal">
	</button>

	<a href="#" class="locale_Edit_User_Profile_Tooltip pull-right"
		rel="tooltip"> <i class="icons icon-edit edit-user-profile "></i>
	</a>
	<h1>
		<span class="locale_User_Profile"> </span> <small>{{username}}
			({{firstname}} {{lastname}}) </small>
	</h1>
	<span class="locale_Private_Profile_Instructions"></span> <a href="#"
		class=" view-public-profile locale_View_Public_Profile_Tooltip "></a>

</div>
<div class="modal-body">

	<dl>
		<dt class="locale_Gravatar"></dt>
		<dd>
			<img class="gravatar-image gravatar-large" src="{{gravatar}}" />
		</dd>
		<dt class="locale_Email"></dt>
		<dd class="email">{{email}}</dd>
		<dt class="locale_Research_Interests"></dt>
		<dd class="researchInterest">{{researchInterest}}</dd>
		<dt class="locale_Affiliation"></dt>
		<dd class="affiliation">{{affiliation}}</dd>
		<dt class="locale_Description"></dt>
		<dd class="description">{{description}}</dd>
		<dt>
			<i class="icon-cloud"></i> <span class="locale_Corpora"></span>
		</dt>
		<dd>
			<ul class="corpuses">
			</ul>
		</dd>
	</dl>
</div>
