<div class="modal-header">
	<a href="#" class="locale_Show_Readonly" rel="tooltip"> 
	 <i class="icons icon-book pull-right"> </i>
	</a>
  <h1>
		<span class="locale_User_Profile"> </span> <small>{{username}} ({{firstname}} {{lastname}}) </small>
	</h1>
	<p class = "locale_Private_Profile_Instructions"></p>
	<button class="btn btn-primary edit-public-user-profile locale_Edit_Public_User_Profile "></button>
  
</div>
<div class="modal-body">

	<dl>
		<dt class="locale_Gravatar"></dt>
		<dd>
			<img class="gravatar-image gravatar-large" src="{{gravatar}}" />
		</dd>
		<dt class="locale_Gravatar_URL"></dt>
		<dd>
			<input class="gravatar" type="email" value="{{gravatar}}" />
		</dd>
		<dt class="locale_Firstname"></dt>
		<dd>
			<input class="firstname" value="{{firstname}}" />
		</dd>
		<dt class="locale_Lastname"></dt>
		<dd>
			<input class="lastname" value="{{lastname}}" />
		</dd>
		<dt class="locale_Email"></dt>
		<dd>
			<input class="email" type="email" value="{{email}}" />
		</dd>
		<dt class="locale_Research_Interests"></dt>
		<dd>
			<textarea class="researchInterest">{{researchInterest}} 
      </textarea>
		</dd>
		<dt class="locale_Affiliation"></dt>
		<dd>
			<textarea class="affiliation">{{affiliation}} 
      </textarea>
		</dd>
		<dt class="locale_Description"></dt>
		<dd>
			<textarea class="description">{{description}} 
      </textarea>
		</dd>
    <dt><i class="icon-cloud"></i> <span class="locale_Corpora"></span></dt>
		<dd>
			<ul class="corpuses">
			</ul>
		</dd>
	</dl>
</div>
<div class="modal-footer">
	<a href="#" class="btn locale_Close" data-dismiss="modal"> </a>
	<button class="btn btn-success pull-right save-user-profile locale_Save"
		value="Save"></button>
</div>