<li class="not-a ">
  <div>
    <img src="https://secure.gravatar.com/avatar/{{gravatar}}?d=identicon" />
    <h4>{{username}}</h4>
  </div>
</li>
<li class="not-a">
  <button id="logout" class="btn btn-inverse logout">{{locale_Log_Out}}</button>
</li>
<li class="not-a ">
  <div id="login_form"  >

    <p class="wordwrap">
      <i>{{locale_An_offline_online_fieldlinguistics_database}}</i> <span
        class="welcome_version_number"></span>
    </p>

    <div class="btn-group">
      <a href="#"
        class="btn btn-success sync-lingllama-data" title="{{locale_Close_and_login_as_LingLlama_Tooltip}}"
        rel="tooltip">{{locale_Close_and_login_as_LingLlama}}</a> <a class="btn btn-success " data-toggle="modal"
        href="#login_modal"> <i class="icon-user icon-white"></i> <span
         >{{locale_Log_In}}</span> <span class="caret"></span>
      </a>
    </div>

    <hr />
    <div class="alert alert-error hide welcome-screen-alerts"></div>

    <div class="breadcrumb create_new_user_password ">
      <h3>{{locale_Create_a_new_user}}</h3>
      <p>
        http://www.lingsync.org/<span class="potentialUsername">yourusernamegoeshere</span>
      </p>
      <!-- <label class = "locale_What_is_your_username_going_to_be">  </label> -->
      <span class="like-form-inline"> <input
        class="registerusername" value="yourusernamegoeshere" type="text" />
        <button class="btn btn-primary new-user-button">{{locale_New_User}}</button>
      </span>
      <div class="hide confirm-password">
        <label>{{locale_Password}}</label> <input
          class="registerpassword" type="password" /> <label
           >{{locale_Confirm_Password}}</label> <input
          class="to-confirm-password" type="password" /> <label>Email:</label>
        <input class="registeruseremail" type="email" /> <br />
        <button
          class="btn btn-success register-new-user">{{locale_Sign_in_with_password}}
          </button>
        <!-- Hiding Twitter and facebook because I dont think anyone will use them now. <button class="btn btn-success register-twitter">
        <i class="i icon-twitter"></i> Sign in with Twitter
      </button>
      <button class="btn btn-success register-facebook">
        <i class="i icon-facebook"></i> Sign in with Facebook
      </button> -->
      </div>
    </div>
  </div>
</li>


<li><a data-toggle="modal" href="#user-modal"><i
    class=" icon-user"></i> <span>{{locale_Private_Profile}}</span> </a></li>

<li class="divider"></li>

<li><a tabindex="-1" href="#help/illustratedguide"><i
    class="icon-gift"></i> Quick Start Illustrated Guide</a></li>
<li><a tabindex="-1" href="http://lingsync.org"
  target="_blank"><i class="icon-film"></i> Help Videos and User
    Guide</a></li>
<li><a tabindex="-1"
  href="https://docs.google.com/forms/d/18KcT_SO8YxG8QNlHValEztGmFpEc4-ZrjWO76lm0mUQ/viewform"
  target="_blank"><i class=" icon-beaker"></i> Bug Report/Contact Us</a></li>
<li><a tabindex="-1"
  href="https://github.com/OpenSourceFieldlinguistics/FieldDB/milestones?state=closed"
  target="_blank"><i class=" icon-github"></i> OpenSource v<span
    class="fielddb-version"></span></a></li>
<li class="power-users-link"><a tabindex="-1" data-toggle="modal"
  href="#terminal-modal"><i class=" icon-magic"></i> <span
     >{{locale_Terminal_Power_Users}}</span> </a></li>

<li class="divider"></li>

<li><a tabindex="-1" data-toggle="modal"
  href="#user-preferences-modal"><i class=" icon-cog"></i> <span
     >{{locale_User_Settings}}</span> </a></li>
<li><a tabindex="-1" data-toggle="modal"
  href="#hotkey-settings-modal"><i class=" icon-hdd"></i> <span
     >{{locale_Keyboard_Shortcuts}}</span></a></li>  <!-- locale_Keyboard_Shortcuts -->
<li><a tabindex="-1" class="corpus-settings"><i
    class=" icon-cogs"></i> <span>{{locale_Corpus_Settings}}</span></a></li>

<li class="divider"></li>

<li><a tabindex="-1" href="#" class=" sync-everything"> <i
    class=" icon-upload"></i> Back-up your
    preferences
</a></li>


