<div class="session">

            <label>User</label>
            <textarea=>{{user}}</textarea> <br>
    
            <label>Team</label>
            <textarea=>{{team}}</textarea> <br>
           
            <label>Language</label>
            <textarea=>{{language}}</textarea> <br>
           
            <label>Language Family</label>
            <textarea=>{{languageFamily}}</textarea> <br>
           
            <label>Dialect</label>
            <textarea=>{{dialect}}</textarea> <br>
            
             <label>Goal</label>
             <textarea=>{{goal}}</textarea> <br>
            
            <label>Date</label>
            <textarea=>{{date}}</textarea> <br>
        
 
</div>