
           <label>User: </label>
            {{user}}<br>
    
            <label>Team: </label>
            {{team}}<br>
           
            <label>Language</label>
            <textarea>{{language}}</textarea> <br>
           
            <label>Language Family</label>
            <textarea>{{languageFamily}}</textarea> <br>
           
            <label>Dialect</label>
            <textarea>{{dialect}}</textarea> <br>
            
             <label>Goal</label>
             <textarea>{{goal}}</textarea> <br>
            
            <label>Date</label>
            <textarea>{{date}}</textarea> <br>
           
     <input type="button" class="btn-mini done" value="Done"/>
   
