<div class="session">
    <ul>
        <li>
<!--This really should be a dropdown menu-->
            <div class="user-title">User</div>
            <div class="user-entry">{{user}}</div>
        </li>
        <li>
            <div class="team-title">Team:</div>
            <div class="datum-entry">{{gloss}}</div>
        </li>
        <li>
            <div class="informant-title">Informant:</div>
            <div class="informant-entry">{{informant}}</div>
        </li>
        <li>
            <div class="language-title">Language:</div>
            <div class="language-entry">{{language}}</div>
        </li>
         <li>
            <div class="languagefamily-title">Language Family:</div>
            <div class="languagefamily-entry">{{languageFamily}}</div>
        </li>
        
         <li>
            <div class="dialect-title">Dialect:</div>
            <div class="dialect-entry">{{Dialect}}</div>
        </li>
        
          <li>
            <div class="dialect-title">Dialect:</div>
            <div class="dialect-entry">{{Dialect}}</div>
        </li>
        
          <li>
            <div class="date-title">Date:</div>
            <div class="date-entry">{{Date}}</div>
        </li>
         <li>
            <div class="goal-title">Goal:</div>
            <div class="goal-entry">{{Date}}</div>
        </li>
        
    </ul>
</div>