
  <div class="modal-header">
    <h1>Keyboard Shortcuts</h1>
  </div>
  <div class="modal-body">
    <p>
     <table class="table">  
        <thead>  
          <tr>  
            <th>Actions</th>  
            <th></th>
            <th>Navigation</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td> <label>Favorite</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td> <label>Next Datum</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>New Datum</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label>Previous Datum</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>New Session</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label>Search</label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
        </tbody>  
      </table>  
     
    
    </p>
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>











           
     
