<div class="hot_key_config">

<h1>Keyboard Shortcuts</h1>


<table class="table">  
        <thead>  
          <tr>  
            <th>Actions</th>  
            <th></th>
            <th>Navigation</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td> <label>Favorite</label><textarea>{{user}}</textarea></td>  
            <td></td>  
            <td> <label>Next Datum</label><textarea>{{user}}</textarea></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>New Datum</label><textarea>{{user}}</textarea></td>  
            <td></td>  
            <td><label>Prvious Datum</label><textarea>{{user}}</textarea></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label>New Session</label><textarea>{{user}}</textarea></td>  
            <td></td>  
            <td><label>Search</label><textarea>{{user}}</textarea></td>  
            <td></td>  
          </tr>  
        </tbody>  
      </table>  

           
     
 
</div>