  <div class="modal-header">
    <h1 class = "locale_Keyboard_Shortcuts"></h1>
  </div>
  <div class="modal-body">
     <table class="table">  
        <thead>  
          <tr>  
            <th><span class = "locale_Actions"></span></th>  
            <th></th>
            <th><span class = "locale_Navigation"></span></th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td> <label class = "locale_Favorite"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td> <label class = "locale_Next_Datum"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label class = "locale_New_Datum"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label class = "locale_Previous_Datum"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
          <tr>  
            <td><label class = "locale_New_Session"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
            <td><label class = "locale_Search"></label><input value ="{{user}}" type="text"></input></td>  
            <td></td>  
          </tr>  
        </tbody>  
      </table>  
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><span class = "locale_Close"></span></a>
    <a href="#" class="btn btn-success"><span class = "locale_Save"></span></a>
  </div>











           
     
