
<a href="#" class="locale_Edit_Public_User_Profile pull-right" 	rel="tooltip"> <i
	class="icons icon-edit edit-user-profile "></i></a>
<h1>
	<span class="locale_User_Profile"> </span> <small>{{username}} ({{firstname}} {{lastname}}) </small>
</h1>
<a href = "http://www.lingsync.org/{{username}}" target="_blank"><i class=" icon-link"></i></a>
<small>Shareable URL: http://www.lingsync.org/{{username}}</small>
<hr/>
<dl>
	<dt class="locale_Gravatar"></dt>
	<dd>
		<img class="gravatar-image gravatar-large" src="{{gravatar}}" />
	</dd>
	<dt class="locale_Email"></dt>
	<dd class="email">{{email}}</dd>
	<dt class="locale_Research_Interests"></dt>
	<dd class="researchInterest">{{researchInterest}}</dd>
	<dt class="locale_Affiliation"></dt>
	<dd class="affiliation">{{affiliation}}</dd>
	<dt class="locale_Description"></dt>
	<dd class="description">{{description}}</dd>
  <dt><i class="icon-cloud"></i> <span class="locale_Corpora"></span></dt>
	<dd>
		<ul class="corpuses">
		</ul>
	</dd>
</dl>


