<div class="datum_prefs">
    <a href="#corpus/{{corpusName}}/datum/{{sessionId}}">Click to expand</a>
    <ul>
        <li>
            <div class="datum-title">Utterance:</div>
            <div class="datum-entry">{{utterance}}</div>
        </li>
        <li>
            <div class="datum-title">Gloss:</div>
            <div class="datum-entry">{{gloss}}</div>
        </li>
        <li>
            <div class="datum-title">Translation:</div>
            <div class="datum-entry">{{translation}}</div>
        </li>
        
    </ul>
    
     <input id="active" name="active" type="hidden" value="{{active}}" />
     <select id="Test" name="Test">
      {{#each statuses}}
          <option {{bindAttr value="id" selected="selected"}}>{{label}}</option>
      {{/each}}
     </select>
     {{> datum_status}}
    
     <input id="active" name="active" type="hidden" value="{{active}}" />
     <select id="Test" name="Test">
      {{#each statuses}}
          <option {{bindAttr value="id" selected="selected"}}>{{label}}</option>
      {{/each}}
     </select>
    
    
</div>