<div class="pull-right">
  <a href="#"   title="{{locale_Hide_Unicode_Palette}}" rel="tooltip" >
    <i class="icons icon-minus-sign"></i></a>
</div>
<h3><span>{{locale_Unicode}}</span>
<span>{{{locale_Drag_and_Drop}}}</span>
</h3>
<div id="unicodes" class="unicode-buttons row-fluid"></div>
 <br />
<span class="like-form-inline">
  <input class="insert-unicode-input input-small" type="text" placeholder="{{locale_Paste_Type_Unicode_Symbol_Placeholder}}"/>
  <input class="insert-unicode-tipa-input input-small" type="text" placeholder="{{locale_TIPA_shortcut}}"/>
  <a href="#" class = " btn btn-primary add-unicode" rel="tooltip">{{locale_Add_new_symbol}}
    </a>
</span> 
